<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <header>
        <div class="headtop"></div>
        <div class="contenttop">
            <div class="logo f_l">[BK]个人博客</div>
            <div class="search f_r">
                <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
                    <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字"
                           style="color: rgb(153, 153, 153);"
                           onfocus="if(value==='请输入关键字'){this.style.color='#000';value=''}"
                           onblur="if(value===''){this.style.color='#999';value='请输入关键字'}" type="text">
                    <!-- 高频率搜索词start -->
                    <input name="show" value="title" type="hidden">
                    <input name="tempid" value="1" type="hidden">
                    <input name="tbname" value="news" type="hidden">
                    <!-- 高频率搜索词end -->
                    <input name="Submit" class="input_submit" value="搜索" type="submit">
                </form>
            </div>
            <div class="blank"></div>
            <nav>
                <ul class="navigation">
                    <ul class="menu">
                        <li><a href="/index/home">网站首页</a></li>
                        <li><a href="#">关于我</a>
                            <ul>
                                <li><a href="/index/about">简介</a></li>
                                <li><a href="/index/photo">相册</a></li>
                            </ul>
                        </li>
                        <li><a href="/index/article/1">生活点滴</a>
                            <ul>
                                <li th:each="column:${columnList}" th:if="${column.classifyId}==1">
                                    <a th:href="@{'/index/article/'+${column.classifyId}+'/'+${column.id}}" th:text="${column.name}" ></a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/index/article/2">技术联盟</a>
                            <ul>
                                <li th:each="column:${columnList}" th:if="${column.classifyId}==2">
                                    <a th:href="@{'/index/article/'+${column.classifyId}+'/'+${column.id}}" th:text="${column.name}" ></a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/index/message">留言板</a></li>
                    </ul>
                </div>
            </nav>
            <script type=text/javascript>
                // Navigation Menu
                $(function () {
                    $(".menu ul").css({display: "none"}); // Opera Fix
                    $(".menu li").hover(function () {
                        $(this).find('ul:first').css({visibility: "visible", display: "none"}).slideDown("normal");
                    }, function () {
                        $(this).find('ul:first').css({visibility: "hidden"});
                    });
                    $("#dataNums").rollNum({
                        deVal:888888
                    });
                });
            </script>
        </div>
    </header>
</div>