<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <header>
        <div class="headtop"></div>
        <div class="contenttop">
            <div class="logo f_l">darker博客</div>
            <div class="search f_r">
                <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
                    <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字"
                           style="color: rgb(153, 153, 153);"
                           onfocus="if(value==='请输入关键字'){this.style.color='#000';value=''}"
                           onblur="if(value===''){this.style.color='#999';value='请输入关键字'}" type="text">
                    <!-- 高频率搜索词start -->
                    <input name="show" value="title" type="hidden">
                    <input name="tempid" value="1" type="hidden">
                    <input name="tbname" value="news" type="hidden">
                    <!-- 高频率搜索词end -->
                    <input name="Submit" class="input_submit" value="搜索" type="submit">
                </form>
            </div>
            <div class="blank"></div>
            <nav>
                <div class="navigation">
                    <ul class="menu">
                        <li><a href="/index/home">网站首页</a></li>
                        <li><a href="#">关于我</a>
                            <ul>
                                <li><a href="/index/about">简介</a></li>
                                <li><a href="/index/photo">相册</a></li>
                            </ul>
                        </li>
                        <li><a href="#">慢生活</a>
                            <ul>
                                <li><a href="/index/diary/1">每周一记</a></li>
                                <li><a href="/index/diary/2">随笔记录</a></li>
                            </ul>
                        </li>
                        <li><a href="#">学无止境</a>
                            <ul>
                                <li><a href="/index/article/1">前端技术</a></li>
                                <li><a href="/index/article/2">后端技术</a></li>
                                <li><a href="/index/article/3">网络编程</a></li>
                                <li><a href="/index/article/4">设计模式</a></li>
                                <li><a href="/index/article/5">Spring</a></li>
                                <li><a href="/index/article/6">Mybatis</a></li>
                                <li><a href="/index/article/7">Hibernate</a></li>
                                <li><a href="/index/article/8">MySQL</a></li>
                                <li><a href="/index/article/9">NoSQL</a></li>
                                <li><a href="/index/article/10">工具类</a> </li>
                            </ul>
                        </li>
                        <li><a href="/index/message">留言板</a></li>
                    </ul>
                </div>
            </nav>
            <script type=text/javascript>
                // Navigation Menu
                $(function () {
                    $(".menu ul").css({display: "none"}); // Opera Fix
                    $(".menu li").hover(function () {
                        $(this).find('ul:first').css({visibility: "visible", display: "none"}).slideDown("normal");
                    }, function () {
                        $(this).find('ul:first').css({visibility: "hidden"});
                    });
                });
            </script>
        </div>
    </header>
</div>