<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="role" role="tabpanel" class="tab-pane" id="role">
    <div class="check-div">
        <button class="btn btn-primary" data-toggle="modal" data-target="#addRole">添加角色</button>
    </div>
    <div class="data-div">
        <!-- 列名 -->
        <div class="row tableHeader">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">序号</div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">角色</div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">描述</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">角色操作</div>
        </div>
        <!-- 数据 -->
        <div class="tablebody" id="roleTablebody"></div>
    </div>
    <!-- 分页 -->
    <footer class="footer" style="padding:10px;">
        <ul class="pagination" id="rolePagination"></ul>
    </footer>
    <!--弹出窗口 增加角色-->
    <div class="modal fade" id="addRole" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">添加角色</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal" id="roleAddForm">
                            <div class="form-group ">
                                <label for="" class="col-xs-3 control-label">角色名：</label>
                                <div class="col-xs-6 ">
                                    <input type="text" class="form-control input-sm duiqi" name="name"
                                           placeholder="请输入角色名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">权限：</label>
                                <div class="col-xs-8 ">
                                    <select class="form-control select-duiqi" name="permissionId" id="addPermissionId"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">描述：</label>
                                <div class="col-xs-6 ">
                                    <textarea class="form-control input-sm duiqi" name="description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">状态：</label>
                                <div class="col-xs-8">
                                    <label class="control-label">
                                        <input type="radio" name="isDelete" value="0">正常</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="control-label">
                                        <input type="radio" name="isDelete" value="1"> 禁用</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-green" th:onclick="'javascript:addRole()'">保 存</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">取 消</button>
                </div>
            </div>
        </div>
    </div>
    <!--弹出窗口 修改角色-->
    <div class="modal fade" id="updateRole" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">修改角色</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal" id="roleUpdateForm">
                            <!-- form表单不支持put请求方式的解决方案 -->
                            <!-- <input type="hidden" name="_method" value="PUT"/> -->
                            <input type="hidden" name="id" id="roleId" value="">
                            <div class="form-group ">
                                <label for="" class="col-xs-3 control-label">角色名：</label>
                                <div class="col-xs-6 ">
                                    <input type="email" class="form-control input-sm duiqi" id="roleName"
                                           name="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">权限：</label>
                                <div class="col-xs-8 ">
                                    <select class="form-control select-duiqi" name="permissionId" id="updatePermissionId"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">描述：</label>
                                <div class="col-xs-6 ">
                                    <textarea class="form-control input-sm duiqi" id="roleDescription"
                                              name="description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">状态：</label>
                                <div class="col-xs-8">
                                    <label class="control-label">
                                        <input type="radio" name="isDelete" id="roleNormal" value="0">正常</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="control-label">
                                        <input type="radio" name="isDelete" id="roleForbidden" value="1"> 禁用</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-green" th:onclick="'javascript:updateRole()'">保 存
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">取 消</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        // 选项卡激活后的点击事件
        $('div[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            // 判断是哪个选项卡
            var controls = $(this).attr('aria-controls');

            if ('role' === controls) {
                // ajax请求获取用户最大页数
                $.ajax({
                    //请求URL地址,controller的名称
                    url: "/user/roleMaxPage",
                    //请求返回数据格式为json,还可以是text等
                    dataType: "JSON",
                    //请求是否为异步,默认是true
                    async: true,
                    //是否从浏览器缓存中加载数据信息
                    cache: false,
                    //设置请求超时时间
                    timeout: 1000,
                    //参数值,如果URL带参数,这里就可以不用写了
                    data: {},
                    //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                    type: "GET",
                    //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                    beforeSend: function () {

                    },
                    //请求成功时的处理函数,参数(返回数据,返回状态)
                    success: function (data) {
                        // 调用分页
                        rolePagination(data.roleMaxPage);
                    },
                    //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                    complete: function () {
                    },
                    //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                    error: function () {
                    }
                });
            }
        });

        // 分页操作
        function rolePagination(roleMaxPage) {
            $.jqPaginator('#rolePagination', {
                totalPages: roleMaxPage, // 总页数
                visiblePages: 10, // 显示的页码数量
                currentPage: 1, // 当前页
                prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
                first: '<li class="first"><a href="javascript:;">首页</a></li>',
                next: '<li class=""><a href="javascript:;">下一页</a></li>',
                last: '<li class="last"><a href="javascript:;">尾页</a></li>',
                page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
                onPageChange: function (num, type) {
                    // num->当前页
                    $.ajax({
                        //请求URL地址,controller的名称
                        url: "/user/allRole",
                        //请求返回数据格式为json,还可以是text等
                        dataType: "json",
                        //请求是否为异步,默认是true
                        async: true,
                        //是否从浏览器缓存中加载数据信息
                        cache: false,
                        //设置请求超时时间
                        timeout: 1000,
                        //参数值,如果URL带参数,这里就可以不用写了
                        data: {'pageNum': num},
                        //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                        type: "GET",
                        //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                        beforeSend: function () {

                        },
                        //请求成功时的处理函数,参数(返回数据,返回状态)
                        success: function (data) {
                            // 组装HTML页面
                            parseRoleHtmlContent(data);
                        },
                        //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                        complete: function () {
                        },
                        //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                        error: function () {
                        }
                    });
                }
            });
        }

        // 查询数据填充至HTML
        function parseRoleHtmlContent(data) {

            var htmlContent = "";

            for (var i in data) {
                htmlContent += ' <div class="row" >';
                htmlContent += ' <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">';
                htmlContent += ' <span>' + data[i].id + '</span>';
                htmlContent += ' </div>';
                htmlContent += ' <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">';
                htmlContent += ' <span>' + data[i].name + '</span>';
                htmlContent += ' </div>';
                htmlContent += ' <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">';
                htmlContent += ' <span>' + data[i].description + '</span>';
                htmlContent += ' </div>';
                htmlContent += ' <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">';
                htmlContent += ' <button class="btn btn-success" data-toggle="modal" data-target="#updateRole" onclick="javascript:queryRole(\'' + data[i].id + '\');">修改</button>';
                htmlContent += ' <button class="btn btn-danger" data-toggle="modal" onclick="javascript:deleteRole(\'' + data[i].id + '\');">删除</button>';
                htmlContent += ' </div>';
                htmlContent += ' </div>';
            }
            $("#roleTablebody").html(htmlContent);
            // 查询所有的权限
            queryAllPermission('addPermissionId');
        };

        // 新增操作
        function addRole() {
            $.ajax({
                //请求URL地址,controller的名称
                url: "/user/addRole",
                //请求返回数据格式为json,还可以是text等
                dataType: "JSON",
                //请求是否为异步,默认是true
                async: true,
                //是否从浏览器缓存中加载数据信息
                cache: false,
                //设置请求超时时间
                timeout: 1000,
                //参数值,如果URL带参数,这里就可以不用写了
                data: $('#roleAddForm').serialize(),
                //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                type: "POST",
                //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                beforeSend: function () {
                    // 隐藏模态窗
                    $("#addRole").modal('hide');
                },
                //请求成功时的处理函数,参数(返回数据,返回状态)
                success: function (data) {
                    // 弹窗提示信息
                    swal(data.msg, '', "success");
                    setTimeout(function () {
                        // 自动关闭弹窗
                        swal.close();
                        // 点击响应tab刷新页面
                        $("div[aria-controls='role']").click();
                    }, 2000);
                },
                //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                complete: function () {
                },
                //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                error: function () {
                }
            });
        };

        // 查询资源实体
        function queryRole(id) {
            $.ajax({
                //请求URL地址,controller的名称
                url: "/user/allRole/" + id,
                //请求返回数据格式为json,还可以是text等
                dataType: "json",
                //请求是否为异步,默认是true
                async: true,
                //是否从浏览器缓存中加载数据信息
                cache: false,
                //设置请求超时时间
                timeout: 1000,
                //参数值,如果URL带参数,这里就可以不用写了
                data: {},
                //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                type: "GET",
                //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                beforeSend: function () {
                },
                //请求成功时的处理函数,参数(返回数据,返回状态)
                success: function (data) {
                    // 返回实体类
                    $("#roleId").val(data.id);
                    $("#roleName").val(data.name);
                    $("#roleDescription").val(data.description);
                    // 资源选项
                    if (data.isDelete === 0) {
                        $("#roleNormal").attr("checked", "checked");
                    } else if (data.isDelete === 1) {
                        $("#roleForbidden").attr("checked", "checked");
                    }
                    // 查询所有的权限
                    queryAllPermission('updatePermissionId');
                },
                //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                complete: function () {
                },
                //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                error: function () {
                }
            });
        };

        // 查询角色的所有权限
        function queryAllPermission(id) {
            $.ajax({
                //请求URL地址,controller的名称
                url: "/user/allPermission",
                //请求返回数据格式为json,还可以是text等
                dataType: "json",
                //请求是否为异步,默认是true
                async: true,
                //是否从浏览器缓存中加载数据信息
                cache: false,
                //设置请求超时时间
                timeout: 1000,
                //参数值,如果URL带参数,这里就可以不用写了
                data: {},
                //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                type: "GET",
                //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                beforeSend: function () {

                },
                //请求成功时的处理函数,参数(返回数据,返回状态)
                success: function (data) {
                    var html= '';

                    for(var i in data){
                        html+='<option value="'+ data[i].id+'" name="permissionId">'+data[i].name+'</option>';
                    }
                    $("#"+id).html(html);
                },
                //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                complete: function () {
                },
                //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                error: function () {
                }
            });
        }

        // 更新操作
        function updateRole() {
            $.ajax({
                //请求URL地址,controller的名称
                url: "/user/updateRole",
                //请求返回数据格式为json,还可以是text等
                dataType: "JSON",
                //请求是否为异步,默认是true
                async: true,
                //是否从浏览器缓存中加载数据信息
                cache: false,
                //设置请求超时时间
                timeout: 1000,
                //参数值,如果URL带参数,这里就可以不用写了
                data: $('#roleUpdateForm').serialize(),
                //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                type: "PUT",
                //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                beforeSend: function () {
                    // 隐藏模态窗
                    $("#updateRole").modal('hide');
                },
                //请求成功时的处理函数,参数(返回数据,返回状态)
                success: function (data) {
                    // 弹窗提示信息
                    swal(data.msg, '', "success");
                    setTimeout(function () {
                        // 自动关闭弹窗
                        swal.close();
                        // 点击响应tab刷新页面
                        $("div[aria-controls='role']").click();
                    }, 2000);
                },
                //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                complete: function () {
                },
                //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                error: function () {
                }
            });
        };

        // 删除操作
        function deleteRole(id) {
            swal({
                title: '确定删除吗?',  //弹出框的title
                text: '你将无法恢复它!', //弹出框里面的提示文本
                type: 'warning', //弹出框类型
                showCancelButton: true, //是否显示取消按钮
                confirmButtonColor: '#3085d6', //确定按钮颜色
                cancelButtonColor: '#d33', //取消按钮颜色
                confirmButtonText: '确定删除', //确认按钮文本
                cancelButtonText: '取消删除', //取消按钮文本
                confirmButtonClass: 'btn btn-success', //确认按钮样式
                cancelButtonClass: 'btn btn-danger', //取消按钮样式
                buttonsStyling: false //禁止使用默认按钮样式
            }).then(function (isConfirm) {

                if (isConfirm.value === true) {
                    $.ajax({
                        //请求URL地址,controller的名称
                        url: "/user/deleteRole/" + id,
                        //请求返回数据格式为json,还可以是text等
                        dataType: "json",
                        //请求是否为异步,默认是true
                        async: true,
                        //是否从浏览器缓存中加载数据信息
                        cache: false,
                        //设置请求超时时间
                        timeout: 1000,
                        //参数值,如果URL带参数,这里就可以不用写了
                        data: {},
                        //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                        type: "DELETE",
                        //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                        beforeSend: function () {
                        },
                        //请求成功时的处理函数,参数(返回数据,返回状态)
                        success: function (data) {
                            // 弹窗提示信息
                            swal(data.msg, '', "success");
                            setTimeout(function () {
                                // 自动关闭弹窗
                                swal.close();
                                // 点击响应tab刷新页面
                                $("div[aria-controls='role']").click();
                            }, 2000);
                        },
                        //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                        complete: function () {
                        },
                        //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                        error: function () {
                        }
                    });
                } else if (isConfirm.dismiss === 'cancel') {
                    // dismiss的值可以是'cancel', 'overlay','close', 'timer'
                    swal(
                        '已取消',
                        '',
                        'error'
                    );
                } else {
                    swal(
                        '已关闭',
                        '',
                        'error'
                    );
                }
            });
        };
    </script>
</div>