<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="photo" role="tabpanel" class="tab-pane" id="photo">
    <!-- 资源管理模块 -->
    <div class="check-div form-inline">
        <button class="btn btn-primary" data-toggle="modal" data-target="#addPhoto">添加图片</button>
    </div>
    <table class="data-div">
        <!-- 列名 -->
        <div class="row tableHeader">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">序号</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">标题</div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">描述</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">阅读量</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">点赞量</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">相册</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">图片操作</div>
        </div>
        <!-- 数据 -->
        <div class="tablebody" id="photoTablebody">
            <!-- 总页数 -->
            <input type="hidden" id="photoMaxPage" th:value="${photoMaxPage}">
        </div>
    </table>
    <!-- 分页 -->
    <footer class="footer" style="padding:10px;">
        <ul class="pagination" id="photoPagination"></ul>
    </footer>

    <!--弹出窗口 添加资源-->
    <div class="modal fade" id="addPhoto" role="dialog" aria-labelledby="" style="margin-top:30px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- 弹窗头 -->
                <div class="modal-header">
                    <!-- 右上角"X" -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="gridSystemModalLabel">添加图片</h4>
                </div>
                <!-- 弹窗体 -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal" id="photoAddForm">
                            <div class="form-group ">
                                <label for="" class="col-xs-4 control-label">标题：</label>
                                <div class="col-xs-8 ">
                                    <input type="text" class="form-control input-sm duiqi"
                                           name="title" placeholder="请输入图片标题">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="" class="col-xs-4 control-label">描述：</label>
                                <div class="col-xs-8 ">
                                    <textarea type="text" class="form-control input-sm duiqi"
                                              name="description" placeholder="请输入图片描述"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">相册：</label>
                                <div class="col-xs-8 ">
                                    <select class="form-control select-duiqi" name="classify">
                                        <option value="1" name="classify">简约系列</option>
                                        <option value="2" name="classify">欧美系列</option>
                                        <option value="3" name="classify">视觉系列</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="" class="col-xs-4 control-label">上传图片：</label>
                            </div>
                            <div class="form-group ">
                                <input id="f_upload" type="file" class="file" name="path"/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-green"
                                        th:onclick="'javascript:addPhoto()'">保 存
                                </button>
                                <button type="button" class="btn btn-white"
                                        data-dismiss="modal">取 消
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--弹出窗口 修改资源-->
    <div class="modal fade" id="updatePhoto" role="dialog" aria-labelledby="" style="margin-top:30px;">
        <div class="" style="width: 80%; margin-left: auto; margin-right: auto;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="gridSystemModalLabel">修改图片</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal" id="photoUpdateForm">
                            <!-- form表单不支持put请求方式的解决方案 -->
                            <!-- <input type="hidden" name="_method" value="PUT"/> -->
                            <input type="hidden" id="photoId" name="id" value="">
                            <div class="form-group ">
                                <label for="" class="col-xs-4 control-label">标题：</label>
                                <div class="col-xs-8 ">
                                    <input type="text" class="form-control input-sm duiqi"
                                           name="title" id="title" placeholder="请输入图片标题">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="" class="col-xs-4 control-label">描述：</label>
                                <div class="col-xs-8 ">
                                    <textarea type="text" class="form-control input-sm duiqi"
                                              name="photoDescription" id="description" placeholder="请输入图片描述"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">相册：</label>
                                <div class="col-xs-8 ">
                                    <select class="form-control select-duiqi" name="classify" id="classify">
                                        <option value="1" name="classify" id="photoClassify1">简约系列</option>
                                        <option value="2" name="classify" id="photoClassify2">欧美系列</option>
                                        <option value="3" name="classify" id="photoClassify2">视觉系列</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="" class="col-xs-4 control-label">上传图片：</label>
                            </div>
                            <div class="form-group ">
                                <input type="file" id="f_upload" class="file" name="path"/>
                            </div>
                            <!-- 按钮 -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-green"
                                        th:onclick="'javascript:updatePhoto()'">保 存
                                </button>
                                <button type="button" class="btn btn-white" data-dismiss="modal">取 消
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // 选项卡激活后的点击事件
        $('div[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            // 判断是哪个选项卡
            var controls = $(this).attr('aria-controls');

            if ('photo' === controls) {
                // ajax请求获取用户最大页数
                $.ajax({
                    //请求URL地址,controller的名称
                    url: "/content/photoMaxPage",
                    //请求返回数据格式为json,还可以是text等
                    dataType: "JSON",
                    //请求是否为异步,默认是true
                    async: true,
                    //是否从浏览器缓存中加载数据信息
                    cache: false,
                    //设置请求超时时间
                    timeout: 1000,
                    //参数值,如果URL带参数,这里就可以不用写了
                    data: {},
                    //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                    type: "GET",
                    //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                    beforeSend: function () {

                    },
                    //请求成功时的处理函数,参数(返回数据,返回状态)
                    success: function (data) {
                        // 调用分页
                        photoPagination(data.photoMaxPage);
                    },
                    //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                    complete: function () {
                    },
                    //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                    error: function () {
                    }
                });
            }
        });

        // 分页操作
        function photoPagination(photoMaxPage) {
            $.jqPaginator('#photoPagination', {
                totalPages: photoMaxPage, // 总页数
                visiblePages: 10, // 显示的页码数量
                currentPage: 1, // 当前页
                prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
                first: '<li class="first"><a href="javascript:;">首页</a></li>',
                next: '<li class=""><a href="javascript:;">下一页</a></li>',
                last: '<li class="last"><a href="javascript:;">尾页</a></li>',
                page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
                onPageChange: function (num, type) {
                    // num->当前页
                    $.ajax({
                        //请求URL地址,controller的名称
                        url: "/content/allPhoto",
                        //请求返回数据格式为json,还可以是text等
                        dataType: "json",
                        //请求是否为异步,默认是true
                        async: true,
                        //是否从浏览器缓存中加载数据信息
                        cache: false,
                        //设置请求超时时间
                        timeout: 1000,
                        //参数值,如果URL带参数,这里就可以不用写了
                        data: {'pageNum': num},
                        //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                        type: "GET",
                        //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                        beforeSend: function () {

                        },
                        //请求成功时的处理函数,参数(返回数据,返回状态)
                        success: function (data) {
                            // 组装HTML页面
                            parsePhotoHtmlContent(data);
                        },
                        //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                        complete: function () {
                        },
                        //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                        error: function () {
                        }
                    });
                }
            });
        }

        // 查询数据填充至HTML
        function parsePhotoHtmlContent(data) {

            var htmlContent = "";

            for (var i in data) {
                htmlContent += ' <div class="row" >';
                htmlContent += ' <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">';
                htmlContent += ' <span>' + data[i].id + '</span>';
                htmlContent += ' </div>';
                htmlContent += ' <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">';
                htmlContent += ' <span>' + data[i].title + '</span>';
                htmlContent += ' </div>';
                htmlContent += ' <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">';
                htmlContent += ' <span>' + data[i].readAmount + '</span>';
                htmlContent += ' </div>';
                htmlContent += ' <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">';
                htmlContent += ' <span>' + data[i].likeAmount + '</span>';
                htmlContent += ' </div>';
                htmlContent += ' <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">';
                htmlContent += ' <span>' + data[i].classify + '</span>';
                htmlContent += ' </div>';
                htmlContent += ' <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">';
                htmlContent += ' <button class="btn btn-success" data-toggle="modal" data-target="#updatePhoto" onclick="javascript:queryPhoto(\'' + data[i].id + '\');">修改</button>';
                htmlContent += ' <button class="btn btn-danger" data-toggle="modal" onclick="javascript:deletePhoto(\'' + data[i].id + '\');">删除</button>';
                htmlContent += ' </div>';
                htmlContent += ' </div>';
            }
            $("#photoTablebody").html(htmlContent);
        };

        // 新增操作
        function addPhoto() {
            $.ajax({
                //请求URL地址,controller的名称
                url: "/content/addPhoto",
                //请求返回数据格式为json,还可以是text等
                dataType: "JSON",
                //请求是否为异步,默认是true
                async: true,
                //是否从浏览器缓存中加载数据信息
                cache: false,
                //设置请求超时时间
                timeout: 1000,
                //参数值,如果URL带参数,这里就可以不用写了
                data: $('#photoAddForm').serialize(),
                //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                type: "POST",
                //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                beforeSend: function () {
                    // 隐藏模态窗
                    $("#addPhoto").modal('hide');
                },
                //请求成功时的处理函数,参数(返回数据,返回状态)
                success: function (data) {
                    // 弹窗提示信息
                    swal(data.msg, '', "success");
                    setTimeout(function () {
                        // 自动关闭弹窗
                        swal.close();
                        // 点击响应tab刷新页面
                        $("div[aria-controls='photo']").click();
                    }, 2000);
                },
                //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                complete: function () {
                },
                //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                error: function () {
                }
            });
        };

        // 查询资源实体
        function queryPhoto(id) {
            $.ajax({
                //请求URL地址,controller的名称
                url: "/content/allPhoto/" + id,
                //请求返回数据格式为json,还可以是text等
                dataType: "json",
                //请求是否为异步,默认是true
                async: true,
                //是否从浏览器缓存中加载数据信息
                cache: false,
                //设置请求超时时间
                timeout: 1000,
                //参数值,如果URL带参数,这里就可以不用写了
                data: {},
                //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                type: "GET",
                //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                beforeSend: function () {
                },
                //请求成功时的处理函数,参数(返回数据,返回状态)
                success: function (data) {
                    // 返回实体类
                    $("#photoId").val(data.id);
                    $("#photoTitle").val(data.title);
                    // 防止只修改标题而导致内容丢失
                    $("#photoUpdateContent").val(data.content);
                    // 编辑器数据回填
                    photoUpdateEditor.txt.html(data.content);
                    // 日记分类
                    $("#photoClassify" + data.classify).attr("checked", "checked");
                },
                //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                complete: function () {
                },
                //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                error: function () {
                }
            });
        };

        // 更新操作
        function updatePhoto() {
            $.ajax({
                //请求URL地址,controller的名称
                url: "/content/updatePhoto",
                //请求返回数据格式为json,还可以是text等
                dataType: "JSON",
                //请求是否为异步,默认是true
                async: true,
                //是否从浏览器缓存中加载数据信息
                cache: false,
                //设置请求超时时间
                timeout: 1000,
                //参数值,如果URL带参数,这里就可以不用写了
                data: $('#photoUpdateForm').serialize(),
                //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                type: "PUT",
                //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                beforeSend: function () {
                    // 隐藏模态窗
                    $("#updatePhoto").modal('hide');
                },
                //请求成功时的处理函数,参数(返回数据,返回状态)
                success: function (data) {
                    // 弹窗提示信息
                    swal(data.msg, '', "success");
                    setTimeout(function () {
                        // 自动关闭弹窗
                        swal.close();
                        // 点击响应tab刷新页面
                        $("div[aria-controls='photo']").click();
                    }, 2000);
                },
                //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                complete: function () {
                },
                //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                error: function () {
                }
            });
        };

        // 删除操作
        function deletePhoto(id) {
            swal({
                title: '确定删除吗?',  //弹出框的title
                text: '你将无法恢复它!', //弹出框里面的提示文本
                type: 'warning', //弹出框类型
                showCancelButton: true, //是否显示取消按钮
                confirmButtonColor: '#3085d6', //确定按钮颜色
                cancelButtonColor: '#d33', //取消按钮颜色
                confirmButtonText: '确定删除', //确认按钮文本
                cancelButtonText: '取消删除', //取消按钮文本
                confirmButtonClass: 'btn btn-success', //确认按钮样式
                cancelButtonClass: 'btn btn-danger', //取消按钮样式
                buttonsStyling: false //禁止使用默认按钮样式
            }).then(function (isConfirm) {

                if (isConfirm.value === true) {
                    $.ajax({
                        //请求URL地址,controller的名称
                        url: "/content/deletePhoto/" + id,
                        //请求返回数据格式为json,还可以是text等
                        dataType: "json",
                        //请求是否为异步,默认是true
                        async: true,
                        //是否从浏览器缓存中加载数据信息
                        cache: false,
                        //设置请求超时时间
                        timeout: 1000,
                        //参数值,如果URL带参数,这里就可以不用写了
                        data: {},
                        //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                        type: "DELETE",
                        //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                        beforeSend: function () {
                        },
                        //请求成功时的处理函数,参数(返回数据,返回状态)
                        success: function (data) {
                            // 弹窗提示信息
                            swal(data.msg, '', "success");
                            setTimeout(function () {
                                // 自动关闭弹窗
                                swal.close();
                                // 点击响应tab刷新页面
                                $("div[aria-controls='photo']").click();
                            }, 2000);
                        },
                        //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                        complete: function () {
                        },
                        //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                        error: function () {
                        }
                    });
                } else if (isConfirm.dismiss === 'cancel') {
                    // dismiss的值可以是'cancel', 'overlay','close', 'timer'
                    swal(
                        '已取消',
                        '',
                        'error'
                    );
                } else {
                    swal(
                        '已关闭',
                        '',
                        'error'
                    );
                }
            });
        };
    </script>
</div>

