<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="resouce" role="tabpanel" class="tab-pane active" id="resource">
    <!-- 资源管理模块 -->
    <div class="check-div form-inline">
        <button class="btn btn-primary" data-toggle="modal" data-target="#addResource">添加资源</button>
    </div>
    <table class="data-div">
        <!-- 列名 -->
        <div class="row tableHeader">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">序号</div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">资源名称</div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">资源链接</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">资源操作</div>
        </div>
        <!-- 数据 -->
        <div class="tablebody" id="tablebody">
            <!-- 总页数 -->
            <input type="hidden" id="maxPage" th:value="${maxPage}">
        </div>
    </table>
    <!-- 分页 -->
    <footer class="footer" style="padding:10px;">
        <ul class="pagination" id="pagination"></ul>
    </footer>
    <!--弹出窗口 添加资源-->
    <div class="modal fade" id="addResource" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- 弹窗头 -->
                <div class="modal-header">
                    <!-- 右上角"X" -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="gridSystemModalLabel">添加资源</h4>
                </div>
                <!-- 弹窗体 -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal" id="resourceAddForm">
                            <div class="form-group ">
                                <label for="name" class="col-xs-3 control-label">资源名称：</label>
                                <div class="col-xs-8 ">
                                    <input type="text" class="form-control input-sm duiqi"
                                           name="name" placeholder="请输入资源名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="path" class="col-xs-3 control-label">资源链接：</label>
                                <div class="col-xs-8 ">
                                    <input type="text" class="form-control input-sm duiqi"
                                           name="path" placeholder="请输入资源链接">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="parentName" class="col-xs-3 control-label">父节点：</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control input-sm duiqi"
                                           name="parentName" placeholder="请输入父节点">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">资源类型：</label>
                                <div class="col-xs-8">
                                    <label class="control-label" for="index">
                                        <input type="radio" name="classify" value="index">index</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="control-label" for="admin">
                                        <input type="radio" name="classify" value="admin">admin</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-green"
                                        th:onclick="'javascript:addResource()'">保 存
                                </button>
                                <button type="button" class="btn btn-white"
                                        data-dismiss="modal">取 消
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--弹出窗口 修改资源-->
    <div class="modal fade" id="updateResource" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="gridSystemModalLabel">修改资源</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal" id="resourceUpdateForm">
                            <!-- form表单不支持put请求方式的解决方案 -->
                            <!-- <input type="hidden" name="_method" value="PUT"/> -->
                            <input type="hidden" id="id" name="id" value="">
                            <div class="form-group ">
                                <label for="name" class="col-xs-3 control-label">资源名称：</label>
                                <div class="col-xs-8 ">
                                    <input type="text" class="form-control input-sm duiqi" id="name"
                                           name="name" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="path" class="col-xs-3 control-label">资源链接：</label>
                                <div class="col-xs-8 ">
                                    <input type="text" class="form-control input-sm duiqi" id="path"
                                           name="path" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="parentName" class="col-xs-3 control-label">父节点：</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control input-sm duiqi" id="parentName"
                                           name="parentName" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">资源类型：</label>
                                <div class="col-xs-8">
                                    <label class="control-label" for="index">
                                        <input type="radio" name="classify" id="index" value="index">index</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="control-label" for="admin">
                                        <input type="radio" name="classify" id="admin" value="admin">admin</label>
                                </div>
                            </div>
                            <!-- 按钮 -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-green"
                                        th:onclick="'javascript:updateResource()'">保 存
                                </button>
                                <button type="button" class="btn btn-white" data-dismiss="modal">取 消
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            // 总页数
            var maxPage = parseInt($("#maxPage").val());
            // 分页操作
            $.jqPaginator('#pagination', {
                totalPages: maxPage, // 总页数
                visiblePages: 10, // 显示的页码数量
                currentPage: 1, // 当前页
                prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
                first: '<li class="first"><a href="javascript:;">首页</a></li>',
                next: '<li class=""><a href="javascript:;">下一页</a></li>',
                last: '<li class="last"><a href="javascript:;">尾页</a></li>',
                page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
                onPageChange: function (num, type) {
                    // num->当前页
                    $.ajax({
                        //请求URL地址,controller的名称
                        url: "/resource/all",
                        //请求返回数据格式为json,还可以是text等
                        dataType: "json",
                        //请求是否为异步,默认是true
                        async: true,
                        //是否从浏览器缓存中加载数据信息
                        cache: false,
                        //设置请求超时时间
                        timeout: 1000,
                        //参数值,如果URL带参数,这里就可以不用写了
                        data: {'pageNum': num},
                        //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                        type: "GET",
                        //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                        beforeSend: function () {

                        },
                        //请求成功时的处理函数,参数(返回数据,返回状态)
                        success: function (data) {
                            // 组装HTML页面
                            parseHtmlContent(data);
                        },
                        //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                        complete: function () {
                        },
                        //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                        error: function () {
                        }
                    });
                }
            });
        });

        // 查询数据填充至HTML
        function parseHtmlContent(data) {

            var htmlContent = "";

            for (var i in data) {
                htmlContent += ' <div class="row" >';
                htmlContent += ' <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">';
                htmlContent += ' <span>' + data[i].id + '</span>';
                htmlContent += ' </div>';
                htmlContent += ' <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">';
                htmlContent += ' <span>' + data[i].name + '</span>';
                htmlContent += ' </div>';
                htmlContent += ' <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">';
                htmlContent += ' <span>' + data[i].path + '</span>';
                htmlContent += ' </div>';
                htmlContent += ' <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">';
                htmlContent += ' <button class="btn btn-success" data-toggle="modal" data-target="#updateResource" onclick="javascript:queryResource(\'' + data[i].id + '\');">修改</button>';
                htmlContent += ' <button class="btn btn-danger" data-toggle="modal" onclick="javascript:deleteResource(\'' + data[i].id + '\');">删除</button>';
                htmlContent += ' </div>';
                htmlContent += ' </div>';
            }
            $("#tablebody").html(htmlContent);
        };

        // 新增操作
        function addResource() {
            $.ajax({
                //请求URL地址,controller的名称
                url: "/resource/add",
                //请求返回数据格式为json,还可以是text等
                dataType: "JSON",
                //请求是否为异步,默认是true
                async: true,
                //是否从浏览器缓存中加载数据信息
                cache: false,
                //设置请求超时时间
                timeout: 1000,
                //参数值,如果URL带参数,这里就可以不用写了
                data: $('#resourceAddForm').serialize(),
                //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                type: "POST",
                //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                beforeSend: function () {
                    // 隐藏模态窗
                    $("#addResource").modal('hide');
                },
                //请求成功时的处理函数,参数(返回数据,返回状态)
                success: function (data) {
                    setTimeout(function () {
                        swal(data.msg, '', "success");
                    }, 100);
                    //2秒后刷新页面，足够显示swal()的信息
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                },
                //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                complete: function () {
                },
                //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                error: function () {
                }
            });
        };

        // 查询资源实体
        function queryResource(id) {
            $.ajax({
                //请求URL地址,controller的名称
                url: "/resource/all/" + id,
                //请求返回数据格式为json,还可以是text等
                dataType: "json",
                //请求是否为异步,默认是true
                async: true,
                //是否从浏览器缓存中加载数据信息
                cache: false,
                //设置请求超时时间
                timeout: 1000,
                //参数值,如果URL带参数,这里就可以不用写了
                data: {},
                //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                type: "GET",
                //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                beforeSend: function () {
                },
                //请求成功时的处理函数,参数(返回数据,返回状态)
                success: function (data) {
                    // 返回实体类
                    $("#id").val(data.id);
                    $("#name").val(data.name);
                    $("#path").val(data.path);
                    $("#parentName").val(data.parentName);
                    // 资源选项
                    if (data.classify === 'admin') {
                        $("#admin").attr("checked", "checked");
                    } else if (data.classify === 'index') {
                        $("#index").attr("checked", "checked");
                    }
                },
                //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                complete: function () {
                },
                //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                error: function () {
                }
            });
        };

        // 更新操作
        function updateResource() {
            $.ajax({
                //请求URL地址,controller的名称
                url: "/resource/update",
                //请求返回数据格式为json,还可以是text等
                dataType: "JSON",
                //请求是否为异步,默认是true
                async: true,
                //是否从浏览器缓存中加载数据信息
                cache: false,
                //设置请求超时时间
                timeout: 1000,
                //参数值,如果URL带参数,这里就可以不用写了
                data: $('#resourceUpdateForm').serialize(),
                //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                type: "PUT",
                //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                beforeSend: function () {
                    // 隐藏模态窗
                    $("#updateResource").modal('hide');
                },
                //请求成功时的处理函数,参数(返回数据,返回状态)
                success: function (data) {
                    setTimeout(function () {
                        swal(data.msg, '', "success");
                    }, 100);
                    //2秒后刷新页面，足够显示swal()的信息
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                },
                //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                complete: function () {
                },
                //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                error: function () {
                }
            });
        };

        // 删除操作
        function deleteResource(id) {
            swal({
                title: '确定删除吗?',  //弹出框的title
                text: '你将无法恢复它!', //弹出框里面的提示文本
                type: 'warning', //弹出框类型
                showCancelButton: true, //是否显示取消按钮
                confirmButtonColor: '#3085d6', //确定按钮颜色
                cancelButtonColor: '#d33', //取消按钮颜色
                confirmButtonText: '确定删除', //确认按钮文本
                cancelButtonText: '取消删除', //取消按钮文本
                confirmButtonClass: 'btn btn-success', //确认按钮样式
                cancelButtonClass: 'btn btn-danger', //取消按钮样式
                buttonsStyling: false //禁止使用默认按钮样式
            }).then(function (isConfirm) {

                if (isConfirm.value === true) {
                    $.ajax({
                        //请求URL地址,controller的名称
                        url: "/resource/delete/" + id,
                        //请求返回数据格式为json,还可以是text等
                        dataType: "json",
                        //请求是否为异步,默认是true
                        async: true,
                        //是否从浏览器缓存中加载数据信息
                        cache: false,
                        //设置请求超时时间
                        timeout: 1000,
                        //参数值,如果URL带参数,这里就可以不用写了
                        data: {},
                        //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                        type: "DELETE",
                        //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                        beforeSend: function () {
                        },
                        //请求成功时的处理函数,参数(返回数据,返回状态)
                        success: function (data) {
                            setTimeout(function () {
                                swal(data.msg, '', "success");
                            }, 100);
                            //2秒后刷新页面，足够显示swal()的信息
                            setTimeout(function () {
                                window.location.reload();
                            }, 2000);
                        },
                        //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                        complete: function () {
                        },
                        //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                        error: function () {
                        }
                    });
                } else if (isConfirm.dismiss === 'cancel') {
                    // dismiss的值可以是'cancel', 'overlay','close', 'timer'
                    swal(
                        '已取消',
                        '',
                        'error'
                    );
                } else {
                    swal(
                        '已关闭',
                        '',
                        'error'
                    );
                }
            });
        };
    </script>
</div>

