<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="article" role="tabpanel" class="tab-pane" id="article">
    <!-- 资源管理模块 -->
    <div class="check-div form-inline">
        <button class="btn btn-primary" data-toggle="modal" data-target="#addArticle">添加文章</button>
    </div>
    <table class="data-div">
        <!-- 列名 -->
        <div class="row tableHeader">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">序号</div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">标题</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">阅读量</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">点赞量</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">分类</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">文章操作</div>
        </div>
        <!-- 数据 -->
        <div class="tablebody" id="articleTablebody">
            <!-- 总页数 -->
            <input type="hidden" id="articleMaxPage" th:value="${articleMaxPage}">
        </div>
    </table>
    <!-- 分页 -->
    <footer class="footer" style="padding:10px;">
        <ul class="pagination" id="articlePagination"></ul>
    </footer>

    <!--弹出窗口 添加资源-->
    <div class="modal fade" id="addArticle" role="dialog" aria-labelledby="" style="margin-top:30px;">
        <div class="" style="width: 80%; margin-left: auto; margin-right: auto;" role="document">
            <div class="modal-content">
                <!-- 弹窗头 -->
                <div class="modal-header">
                    <!-- 右上角"X" -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="gridSystemModalLabel">添加文章</h4>
                </div>
                <!-- 弹窗体 -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal" id="articleAddForm">
                            <div class="form-group ">
                                <label for="" class="col-xs-3 control-label">标题：</label>
                                <div class="col-xs-8 ">
                                    <input type="text" class="form-control input-sm duiqi"
                                           name="title" placeholder="请输入文章标题">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="" class="col-xs-3 control-label">摘要：</label>
                                <!--编辑器位置-->
                                <div style="max-height:1200px;margin-top:50px;margin-left:24%;width: 700px;">
                                    <div th:replace="editor/summaryCreateEditor.html :: editor"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">分类：</label>
                                <div class="col-xs-8 ">
                                    <select class="form-control select-duiqi" name="classifyId"
                                            id="addArticleClassifyId"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">栏目：</label>
                                <div class="col-xs-8 ">
                                    <select class="form-control select-duiqi" name="columnId"
                                            id="addArticleColumnId"></select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="" class="col-xs-3 control-label">上传图片：</label>
                                <div class="col-xs-5 ">
                                    <input type="file" class="file form-control" id="uploadArticleImage"
                                           data-ref="imageName"/>
                                    <!-- 图片上传完成后,传值到这里,在提交form表单 -->
                                    <input type="hidden" name="imageName" id="articleImageName" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">内容：</label>
                                <!--编辑器位置-->
                                <div style="max-height:1200px;margin-top:50px;margin-left:24%;width: 700px;">
                                    <div th:replace="editor/articleCreateEditor.html :: editor"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-green"
                                        th:onclick="'javascript:addArticle()'">保 存
                                </button>
                                <button type="button" class="btn btn-white"
                                        data-dismiss="modal">取 消
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--弹出窗口 修改资源-->
    <div class="modal fade" id="updateArticle" role="dialog" aria-labelledby="" style="margin-top:30px;">
        <div class="" style="width: 80%; margin-left: auto; margin-right: auto;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="gridSystemModalLabel">修改文章</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal" id="articleUpdateForm">
                            <!-- form表单不支持put请求方式的解决方案 -->
                            <!-- <input type="hidden" name="_method" value="PUT"/> -->
                            <input type="hidden" id="articleId" name="id" value="">
                            <div class="form-group ">
                                <label for="" class="col-xs-3 control-label">标题：</label>
                                <div class="col-xs-8 ">
                                    <input type="text" class="form-control input-sm duiqi" id="articleTitle"
                                           name="title" value="">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="" class="col-xs-3 control-label">摘要：</label>
                                <!--编辑器位置-->
                                <div style="max-height:1200px;margin-top:50px;margin-left:24%;width: 700px;">
                                    <div th:replace="editor/summaryUpdateEditor.html :: editor"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">分类：</label>
                                <div class="col-xs-8 ">
                                    <select class="form-control select-duiqi" name="classifyId"
                                            id="updateArticleClassifyId"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">栏目：</label>
                                <div class="col-xs-8 ">
                                    <select class="form-control select-duiqi" name="columnId"
                                            id="updateArticleColumnId"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">内容：</label>
                                <!--编辑器位置-->
                                <div style="max-height:1200px;margin-top:50px;margin-left:24%;width: 700px;">
                                    <div th:replace="editor/articleUpdateEditor.html :: editor"></div>
                                </div>
                            </div>
                            <!-- 按钮 -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-green"
                                        th:onclick="'javascript:updateArticle()'">保 存
                                </button>
                                <button type="button" class="btn btn-white" data-dismiss="modal">取 消
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // 文章列表 图片上传操作
        $("#uploadArticleImage").fileinput({
            //上传的地址
            uploadUrl: "/image/uploadImage?rad=" + Math.random(),
            uploadAsync: true, //默认异步上传
            showCaption: true,//是否显示标题
            showPreview: true, //是否显示预览
            showUpload: false, //是否显示上传按钮
            showRemove: false, //是否显示移除按钮
            showCancel: true,//是否显示取消按钮
            showClose: true,//是否显示关闭按钮
            autoReplace: false,//是否自动替换当前图片
            allowedFileTypes: ['image'],//配置允许文件上传的类型
            allowedPreviewTypes: ['image'],//配置所有的被预览文件类型
            allowedPreviewMimeTypes: ['jpg', 'png', 'gif'],//控制被预览的所有mime类型
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",//预览图片图标
            maxFileCount: 1, //表示允许同时上传的最大文件个数
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            dropZoneEnabled: false,//是否显示拖拽区域，默认不写为true，但是会占用很大区域
            enctype: 'multipart/form-data',
            validateInitialCount: true,
            language: 'zh'
        });
        //异步上传错误处理
        $('#uploadArticleImage').on('fileerror', function (event, data, msg) {
            // 弹窗提示信息
            swal('图片上传失败!', '', "success");
        });
        //异步上传返回结果处理
        $("#uploadArticleImage").on("fileuploaded", function (event, data, previewId, index) {
            // 弹窗提示信息
            swal(data.response.msg, '', "success");
            // 参数回写到隐藏域中
            var ref = $(this).attr("data-ref");
            $("input[name='" + ref + "']").val(data.response.myImage);
        });
    </script>
</div>

