<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="message" role="tabpanel" class="tab-pane" id="message">
    <!-- 搜索框 -->
    <div class="search-div">
        <div class="col-lg-4 col-xs-5">
            <input type="text" class=" form-control input-sm " id="searchTableContent" placeholder="输入文字搜索">
            <button class="btn btn-white" onclick="searchTableContent()">检 索</button>
        </div>
    </div>
    <div class="data-div">
        <!-- 列名 -->
        <div class="row tableHeader">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">序号</div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">用户名</div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">邮箱</div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">留言板操作</div>
        </div>
        <!-- 数据 -->
        <div class="tablebody" id="messageTablebody"></div>
    </div>
    <!-- 分页 -->
    <footer class="footer" style="padding:10px;">
        <ul class="pagination" id="messagePagination"></ul>
    </footer>
</div>