<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="博客CMS系统">
    <meta name="keywords" content="博客">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>darker</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            // 菜单列表点击事件
            $(".meun-item").click(function () {
                // 移除上一个菜单激活样式
                $(".meun-item").removeClass("meun-item-active");
                // 新增选中菜单激活样式
                $(this).addClass("meun-item-active");
            });
        })
    </script>
    <link rel="shortcut icon" href="/images/favicon-.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slide.css"/>
    <link rel="stylesheet" type="text/css" href="/css/flat-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery.nouislider.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<!-- 容器 -->
<div id="wrap">
    <!-- 头部 -->
    <div style="background: url(../images/topbg.jpg) repeat-x; height: 28px;"></div>
    <!-- 左侧菜单 -->
    <div th:include="admin/meun_left.html :: meun_left"></div>
    <!-- 右侧内容详情栏目 -->
    <div th:include="admin/meun_right.html :: meun_right"></div>
</div>
<script src="/js/jquery.nouislider.js"></script>
<script>
    // 统计删除入口
    function deleteAll(id, classify) {
        $.ajax({
            //请求URL地址,controller的名称
            url: "/" + classify + "/" + "delete" + "/" + id,
            //请求返回数据格式为json,还可以是text等
            dataType: "json",
            //请求是否为异步,默认是true
            async: true,
            //是否从浏览器缓存中加载数据信息
            cache: false,
            //设置请求超时时间
            timeout: 1000,
            //参数值,如果URL带参数,这里就可以不用写了
            data: {},
            //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
            type: "DELETE",
            //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
            beforeSend: function () {
            },
            //请求成功时的处理函数,参数(返回数据,返回状态)
            success: function (data) {
                // 提示信息
                alert(JSON.stringify(data));
                // 刷新页面
                window.location.href = "/admin/home";
            },
            //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
            complete: function () {
            },
            //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
            error: function () {
            }
        });
    };

    // min/max slider 滑块js
    function huadong(my, unit, def, max) {
        $(my).noUiSlider({
            range: [0, max],
            start: [def],
            handles: 1,
            connect: 'upper',
            slide: function () {
                var val = Math.floor($(this).val());
                $(this).find(".noUi-handle").text(
                    val + unit
                );
            },
            set: function () {
                var val = Math.floor($(this).val());
                $(this).find(".noUi-handle").text(
                    val + unit
                );
            }
        });
        $(my).val(def, true);
    }

    huadong('.slider-minmax1', "分钟", "5", 30);
    huadong('.slider-minmax2', "分钟", "6", 15);
    huadong('.slider-minmax3', "分钟", "10", 60);
    huadong('.slider-minmax4', "次", "2", 10);
    huadong('.slider-minmax5', "天", "3", 7);
    huadong('.slider-minmax6', "天", "8", 10);
</script>
</body>
</html>