<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="博客CMS系统">
    <meta name="keywords" content="博客">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>BK个人博客</title>
    <!-- 图标 -->
    <link rel="shortcut icon" href="/images/favicon-.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slide.css"/>
    <link rel="stylesheet" type="text/css" href="/css/flat-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/fileinput/css/fileinput.min.css" />
    <link rel="stylesheet" type="text/css" href="/sweetalert/css/sweetalert2.min.css" />
    <script src="/js/jquery.min.js"></script>
    <!-- 分页组件 -->
    <script src="/js/jqPaginator.js"></script>
    <!-- bootstrap -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- bootstrap fileinput控件 -->
    <script src="/bootstrap/fileinput/js/fileinput.js"></script>
    <!-- image调整大小插件 -->
    <script src="/bootstrap/fileinput/js/plugins/piexif.min.js"></script>
    <!-- 净化html插件 -->
    <script src="/bootstrap/fileinput/js/plugins/purify.min.js"></script>
    <!-- 初始化预览窗口缩略图排序插件 -->
    <script src="/bootstrap/fileinput/js/plugins/sortable.min.js"></script>
    <!-- 中文 -->
    <script src="/bootstrap/fileinput/js/locales/zh.js"></script>
    <!-- 弹窗控件 -->
    <script src="/sweetalert/js/sweetalert2.min.js"></script>
    <!-- 富文本组件 -->
    <script src="/editor/js/wangEditor.min.js" ></script>
    <script>
        $(function () {
            // 菜单列表点击事件
            $(".meun-item").click(function () {
                // 移除上一个菜单激活样式
                $(".meun-item").removeClass("meun-item-active");
                // 新增选中菜单激活样式
                $(this).addClass("meun-item-active");
            });
        })
    </script>
</head>
<body>
<!-- 容器 -->
<div id="wrap">
    <!-- 头部 -->
    <div style="background: url(../images/topbg.jpg) repeat-x; height: 28px;"></div>
    <!-- 左侧菜单 -->
    <div th:include="admin/meun_left.html :: meun_left"></div>
    <!-- 右侧内容详情栏目 -->
    <div th:include="admin/meun_right.html :: meun_right"></div>
</div>
</body>
</html>