<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="BK">
    <meta name="description" content="BK博客">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="toTop" content="true">
    <title>BK个人博客-搬砖King的成长之路</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/others/favicon-.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/login-style.css">
    <link rel="stylesheet" type="text/css" href="/zeromodal/css/zeroModal.css">
</head>
<body>
<div class="header" id="demo">
    <div class="nav">
        <div class="jq22-container">
            <div class="login-wrap">
                <div class="login-html">
                    <!-- 选择栏 -->
                    <input type="radio" class="sign-in" name="tab" id="tab-1" checked>
                    <label for="tab-1" class="tab">Sign In</label>
                    <input type="radio" class="sign-up" name="tab" id="tab-2">
                    <label for="tab-2" class="tab">Sign Up</label>
                    <div class="login-form">
                        <!-- 登录 -->
                        <div class="sign-in-htm">
                            <form action="/admin" method="get">
                                <div class="group">
                                    <label for="name" class="label">Username</label><br>
                                    <input type="text" class="input" name="name" id="name">
                                </div>
                                <div class="group">
                                    <label for="password" class="label">Password</label><br>
                                    <input type="password" class="input" name="password" id="password"
                                           data-type="password">
                                </div>
                                <br>
                                <div class="group">
                                    <input id="check" type="checkbox" class="check" checked>
                                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                                </div>
                                <br>
                                <div class="group">
                                    <input type="submit" class="button" value="Sign In">
                                </div>
                            </form>
                        </div>
                        <!-- 注册 -->
                        <div class="sign-up-htm">
                            <form id="addUser">
                                <div class="group">
                                    <label for="name" class="label">Username</label><br>
                                    <input type="text" class="input" name="name" id="name">
                                </div>
                                <div class="group">
                                    <label for="password" class="label">Password</label><br>
                                    <input type="password" class="input" name="password" id="password1"
                                           data-type="password">
                                </div>
                                <br>
                                <div class="group">
                                    <label for="password" class="label">Repeat Password</label><br>
                                    <input type="password" class="input" name="password" id="password2"
                                           data-type="password">
                                </div>
                                <br>
                                <div class="group">
                                    <label for="email" class="label">Email Address</label><br>
                                    <input type="text" class="input" name="email" id="email">
                                </div>
                                <br>
                                <div class="group">
                                    <input type="button" class="button" onclick="register();" value="Sign Up">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="canvaszz"></div>
    <canvas id="canvas"></canvas>
</div>
<!--用来解决视频右键菜单，用于视频上面的遮罩层 START-->
<div class="videozz"></div>
<!--用来解决视频右键菜单，用于视频上面的遮罩层 END-->
<!--音乐 START-->
<audio controls autoplay class="audio">
    <source src="/music/adminBGM.mp3" type="audio/mp3">
</audio>
<!--音乐 END-->
<script type="text/javascript" src="/js/jquery.js"></script>
<!-- 弹窗 -->
<script type="text/javascript" src="/zeromodal/js/mustache.js"></script>
<script type="text/javascript" src="/zeromodal/js/zeroModal.js"></script>
<script>
    // 用户注册
    function register() {
        $.ajax({
            //请求URL地址,controller的名称
            url: "/admin/register",
            //请求返回数据格式为json,还可以是text等
            dataType: "JSON",
            //请求是否为异步,默认是true
            async: true,
            //是否从浏览器缓存中加载数据信息
            cache: false,
            //设置请求超时时间
            timeout: 1000,
            //参数值,如果URL带参数,这里就可以不用写了
            data: $('#addUser').serialize(),
            //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
            type: "POST",
            //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
            beforeSend: function () {
                if ($("#password1").val() !== $("#password2").val()) {
                    zeroModal.error({
                        content: '操作提示!',
                        contentDetail:'两次密码不一致,请重新输入!'
                    });
                    return false;
                }
            },
            //请求成功时的处理函数,参数(返回数据,返回状态)
            success: function (data) {
                // 弹窗提示信息
                zeroModal.alert({
                    content: '操作提示!',
                    contentDetail: '用户' + eval("(" + data + ")").msg,
                    okFn: function () {
                        // 跳转到网站首页
                        window.location.reload("/home");
                    }
                });
            },
            //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
            complete: function () {
            },
            //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
            error: function () {
            }
        });
    }

    // 宇宙特效
    "use strict";
    var canvas = document.getElementById('canvas'),
        ctx = canvas.getContext('2d'),
        w = canvas.width = window.innerWidth,
        h = canvas.height = window.innerHeight,

        hue = 217,
        stars = [],
        count = 0,
        maxStars = 1300;//星星数量

    var canvas2 = document.createElement('canvas'),
        ctx2 = canvas2.getContext('2d');
    canvas2.width = 100;
    canvas2.height = 100;
    var half = canvas2.width / 2,
        gradient2 = ctx2.createRadialGradient(half, half, 0, half, half, half);
    gradient2.addColorStop(0.025, '#CCC');
    gradient2.addColorStop(0.1, 'hsl(' + hue + ', 61%, 33%)');
    gradient2.addColorStop(0.25, 'hsl(' + hue + ', 64%, 6%)');
    gradient2.addColorStop(1, 'transparent');

    ctx2.fillStyle = gradient2;
    ctx2.beginPath();
    ctx2.arc(half, half, half, 0, Math.PI * 2);
    ctx2.fill();

    // End cache

    function random(min, max) {
        if (arguments.length < 2) {
            max = min;
            min = 0;
        }

        if (min > max) {
            var hold = max;
            max = min;
            min = hold;
        }

        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function maxOrbit(x, y) {
        var max = Math.max(x, y),
            diameter = Math.round(Math.sqrt(max * max + max * max));
        return diameter / 2;
        //星星移动范围，值越大范围越小，
    }

    var Star = function () {

        this.orbitRadius = random(maxOrbit(w, h));
        this.radius = random(60, this.orbitRadius) / 8;
        //星星大小
        this.orbitX = w / 2;
        this.orbitY = h / 2;
        this.timePassed = random(0, maxStars);
        this.speed = random(this.orbitRadius) / 50000;
        //星星移动速度
        this.alpha = random(2, 10) / 10;

        count++;
        stars[count] = this;
    };

    Star.prototype.draw = function () {
        var x = Math.sin(this.timePassed) * this.orbitRadius + this.orbitX,
            y = Math.cos(this.timePassed) * this.orbitRadius + this.orbitY,
            twinkle = random(10);

        if (twinkle === 1 && this.alpha > 0) {
            this.alpha -= 0.05;
        } else if (twinkle === 2 && this.alpha < 1) {
            this.alpha += 0.05;
        }

        ctx.globalAlpha = this.alpha;
        ctx.drawImage(canvas2, x - this.radius / 2, y - this.radius / 2, this.radius, this.radius);
        this.timePassed += this.speed;
    };

    for (var i = 0; i < maxStars; i++) {
        new Star();
    }

    function animation() {
        ctx.globalCompositeOperation = 'source-over';
        ctx.globalAlpha = 0.5; //尾巴
        ctx.fillStyle = 'hsla(' + hue + ', 64%, 6%, 2)';
        ctx.fillRect(0, 0, w, h);

        ctx.globalCompositeOperation = 'lighter';
        for (var i = 1, l = stars.length; i < l; i++) {
            stars[i].draw();
        }
        window.requestAnimationFrame(animation);
    }

    animation();
</script>
</body>
</html>