<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="seatDetail">
    <div role="tabpanel" class="tab-pane" id="seatDetail">
        <div class="check-div form-inline">
                    <span href="#sitt" aria-controls="sitt" role="tab" data-toggle="tab" style="cursor: pointer;">
                        <span class="glyphicon glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;返回上一页
                    </span>
        </div>
        <div class="data-div">
            <div class="row tableHeader">
                <div class="col-xs-6 ">
                    座位编码
                </div>
                <div class="col-xs-6 ">
                    座位名称
                </div>
            </div>
            <div class="tablebody">
                <div class="row">
                    <div class="col-xs-6 ">
                        sad2345fas345533
                    </div>
                    <div class="col-xs-6">
                        王座
                    </div>
                </div>
            </div>
        </div>
        <!--页码块-->
        <footer class="footer">
            <ul class="pagination">
                <li>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                    页
                </li>
                <li class="gray">
                    共20页
                </li>
                <li>
                    <i class="glyphicon glyphicon-menu-left">
                    </i>
                </li>
                <li>
                    <i class="glyphicon glyphicon-menu-right">
                    </i>
                </li>
            </ul>
        </footer>
    </div>
</div>