<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="role">
    <div role="tabpanel" class="tab-pane" id="role">
        <div class="check-div form-inline">
            <div class="col-xs-5">
                <input type="text" class=" form-control input-sm" placeholder="输入文字搜索"
                       style="height: 40px!important;">
                <button class="btn btn-white btn-xs ">查 询</button>
            </div>
            <div class="col-xs-4 col-lg-4  col-md-5"
                 style="padding-right: 40px;text-align: right;float: right;">
                <label for="daoru">导入人员信息表:&nbsp;</label>
                <button class="btn btn-white btn-xs " id="daoru">选取文件</button>
                <button class="btn btn-white btn-xs ">导入</button>
            </div>
        </div>
        <div class="data-div">
            <div class="row tableHeader">
                <div class="col-xs-2 ">
                    学号
                </div>
                <div class="col-xs-1 ">
                    姓名
                </div>
                <div class="col-xs-2">
                    院系
                </div>
                <div class="col-xs-2">
                    年年
                </div>
                <div class="col-xs-2 ">
                    学习时长
                </div>
                <div class="col-xs-2">
                    违约次数
                </div>
                <div class="col-xs-1">
                    操作
                </div>
            </div>
            <div class="tablebody">
                <div class="row">
                    <div class="col-xs-2 ">
                        6426398978
                    </div>
                    <div class="col-xs-1">
                        邓超
                    </div>
                    <div class="col-xs-2">
                        计算机地区
                    </div>
                    <div class="col-xs-2">
                        2013年
                    </div>
                    <div class="col-xs-2">
                        15
                    </div>
                    <div class="col-xs-2">
                        2
                    </div>
                    <div class="col-xs-1">
                        <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteObey">
                            清除违约
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--页码块-->
        <footer class="footer">
            <ul class="pagination">
                <li>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                    页
                </li>
                <li class="gray">
                    共20页
                </li>
                <li>
                    <i class="glyphicon glyphicon-menu-left">
                    </i>
                </li>
                <li>
                    <i class="glyphicon glyphicon-menu-right">
                    </i>
                </li>
            </ul>
        </footer>
        <!--弹出删除违约记录警告窗口-->
        <div class="modal fade" id="deleteObey" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="">提示</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            确定要删除该违约记录？删除后不可恢复！
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                        <button type="button" class="btn btn-xs btn-danger">保 存</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>