<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="area">
    <div role="tabpanel" class="tab-pane" id="area">
        <div class="check-div form-inline">
            <div class="col-xs-3">
                <button class="btn btn-yellow btn-xs" data-toggle="modal" data-target="#addSchool">添加地区</button>
            </div>
            <div class="col-lg-4 col-xs-5">
                <input type="text" class=" form-control input-sm " placeholder="输入文字搜索">
                <button class="btn btn-white btn-xs ">查 询</button>
            </div>
            <div class="col-lg-3 col-lg-offset-1 col-xs-3"
                 style="padding-right: 40px;text-align: right;float: right;">
                <label for="">排序:&nbsp;</label>
                <select class="form-control">
                    <option>地区</option>
                    <option>排名</option>
                </select>
            </div>
        </div>
        <div class="data-div">
            <div class="row tableHeader">
                <div class="col-xs-1 ">
                    编码
                </div>
                <div class="col-xs-2 ">
                    地区
                </div>
                <div class="col-xs-1">
                    经度
                </div>
                <div class="col-xs-1">
                    维度
                </div>
                <div class="col-xs-2">
                    建筑信息
                </div>
                <div class="col-xs-2">
                    人员列表
                </div>
                <div class="col-xs-2">
                    操作
                </div>
            </div>
            <div class="tablebody">
                <div class="row">
                    <div class="col-xs-1 ">
                        1
                    </div>
                    <div class="col-xs-2">
                        国际关系地区
                    </div>
                    <div class="col-xs-1">
                        45.0
                    </div>
                    <div class="col-xs-1">
                        95.90
                    </div>
                    <div class="col-xs-2">
                        <a class="linkCcc">查看</a>
                    </div>
                    <div class="col-xs-2">
                        <a class="linkCcc">查看</a>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#reviseSchool">
                            修改
                        </button>
                        <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteSchool">
                            删除
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--页码块-->
        <footer class="footer">
            <ul class="pagination">
                <li>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                    页
                </li>
                <li class="gray">
                    共20页
                </li>
                <li>
                    <i class="glyphicon glyphicon-menu-left">
                    </i>
                </li>
                <li>
                    <i class="glyphicon glyphicon-menu-right">
                    </i>
                </li>
            </ul>
        </footer>

        <!--弹出添加用户窗口-->
        <div class="modal fade" id="addSchool" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">添加地区</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <form class="form-horizontal">
                                <div class="form-group ">
                                    <label for="sName" class="col-xs-3 control-label">地区名称：</label>
                                    <div class="col-xs-8 ">
                                        <input type="email" class="form-control input-sm duiqi" id="sName"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="sName" class="col-xs-3 control-label">经度：</label>
                                    <div class="col-xs-8 ">
                                        <input type="email" class="form-control input-sm duiqi" id="sName"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sLink" class="col-xs-3 control-label">纬度：</label>
                                    <div class="col-xs-8 ">
                                        <input type="" class="form-control input-sm duiqi" id="sLink"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sOrd" class="col-xs-3 control-label">简称：</label>
                                    <div class="col-xs-8">
                                        <input type="" class="form-control input-sm duiqi" id="sOrd"
                                               placeholder="">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                        <button type="button" class="btn btn-xs btn-green">保 存</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!--弹出修改用户窗口-->
        <div class="modal fade" id="reviseSchool" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="gridSystemModalLabel">修改地区</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <form class="form-horizontal">
                                <div class="form-group ">
                                    <label for="sName" class="col-xs-3 control-label">地区名称：</label>
                                    <div class="col-xs-8 ">
                                        <input type="email" class="form-control input-sm duiqi" id="sName"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="sName" class="col-xs-3 control-label">经度：</label>
                                    <div class="col-xs-8 ">
                                        <input type="email" class="form-control input-sm duiqi" id="sName"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sLink" class="col-xs-3 control-label">纬度：</label>
                                    <div class="col-xs-8 ">
                                        <input type="" class="form-control input-sm duiqi" id="sLink"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sOrd" class="col-xs-3 control-label">简称：</label>
                                    <div class="col-xs-8">
                                        <input type="" class="form-control input-sm duiqi" id="sOrd"
                                               placeholder="">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                        <button type="button" class="btn btn-xs btn-green">保 存</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!--弹出删除用户警告窗口-->
        <div class="modal fade" id="deleteSchool" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            确定要删除该地区？删除后不可恢复！
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                        <button type="button" class="btn btn-xs btn-danger">保 存</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>