<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="rule">
    <div role="tabpanel" class="tab-pane" id="rule" style="padding-top: 50px;">
        <div class="data-div">
            <div class="tablebody col-lg-10 col-lg-offset-1">
                <div class="row">
                    <div class="col-xs-3" style="padding-right: 0;">签到超时时间</div>
                    <div class="col-xs-7 expand-col">
                        <div class="slider-minmax1">
                        </div>
                        <div class="row top100">
                            <span class="left">0</span>
                            <span class="right">30</span>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-xs btn-white">默认值</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3" style="padding-right: 0;">抢座超时时间</div>
                    <div class="col-xs-7 expand-col">
                        <div class="slider-minmax2">
                        </div>
                        <div class="row top100">
                            <span class="left">0</span>
                            <span class="right">15</span>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-xs btn-white">默认值</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3" style="padding-right: 0;">临时离开超时时间</div>
                    <div class="col-xs-7 expand-col">
                        <div class="slider-minmax3">
                        </div>
                        <div class="row top100">
                            <span class="left">0</span>
                            <span class="right">60</span>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-xs btn-white">默认值</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3" style="padding-right: 0;">违约次数冻结上限</div>
                    <div class="col-xs-7 expand-col">
                        <div class="slider-minmax4">
                        </div>
                        <div class="row top100">
                            <span class="left">0</span>
                            <span class="right">100</span>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-xs btn-white">默认值</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3" style="padding-right: 0;">可预约天数</div>
                    <div class="col-xs-7 expand-col">
                        <div class="slider-minmax5">
                        </div>
                        <div class="row top100">
                            <span class="left">0</span>
                            <span class="right">7</span>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-xs btn-white">默认值</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3" style="padding-right: 0;">最大未完成预约数</div>
                    <div class="col-xs-7 expand-col">
                        <div class="slider-minmax6">
                        </div>
                        <div class="row top100">
                            <span class="left">0</span>
                            <span class="right">10</span>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-xs btn-white">默认值</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                    <button type="button" class="btn btn-xs btn-green">保 存</button>
                </div>
            </div>
        </div>
    </div>
</div>