<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="seat">
    <div role="tabpanel" class="tab-pane" id="seat">
        <div class="check-div form-inline" style="">
            <div class="col-lg-4 col-xs-7 col-md-6">
                <button class="btn btn-yellow btn-xs" data-toggle="modal" data-target="#addBuilding">添加楼宇
                </button>
                <label for="">楼宇:&nbsp;</label>
                <select class=" form-control">
                    <option>第一教学楼</option>
                    <option>逸夫楼</option>
                    <option>综合楼</option>
                    <option>图书馆</option>
                </select>
                <button class="btn btn-white btn-xs ">修 改</button>
            </div>
            <div class="col-lg-4 col-lg-offset-4 col-xs-4 col-md-5"
                 style="padding-right: 40px;text-align: right;">
                <input type="text" class=" form-control input-sm" placeholder="输入文字搜索">
                <button class="btn btn-white btn-xs ">查 询</button>
            </div>
        </div>
        <div class="data-div">
            <div class="row tableHeader">
                <div class="col-xs-2 " style="padding-left: 20px;">
                    楼层
                </div>
                <div class="col-xs-3" style="padding-left: 20px;">
                    区域
                </div>
                <div class="col-xs-2" style="padding-left: 2px;">
                    座位数
                </div>
                <div class="col-xs-2">
                    空余座位
                </div>
                <div class="col-xs-3">
                    操作
                </div>
            </div>
            <div class="tablebody">
                <div class="sitTable">
                    <table class="table  table-responsive">
                        <tr>
                            <td valign="middle" class="col-xs-2" rowspan="3">图书馆第一层</td>
                            <td class="col-xs-3">第一自习室</td>
                            <td class="col-xs-2">2</td>
                            <td class="col-xs-2" style="padding-left: 40px!important;">3</td>
                            <td class="col-xs-3" style="padding-left: 50px!important;">
                                <a class="linkCcc" href="#sitDetail" aria-controls="char" role="tab"
                                   data-toggle="tab">座位信息</a>
                                <a class="linkCcc" href="#time" aria-controls="char" role="tab"
                                   data-toggle="tab">时间段设置</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">第一自习室</td>
                            <td class="col-xs-2">2</td>
                            <td class="col-xs-2" style="padding-left: 40px!important;">3</td>
                            <td class="col-xs-3" style="padding-left: 50px!important;">
                                <a class="linkCcc" href="#sitDetail" aria-controls="char" role="tab"
                                   data-toggle="tab">座位信息</a>
                                <a class="linkCcc" href="#time" aria-controls="char" role="tab"
                                   data-toggle="tab">时间段设置</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">第一自习室</td>
                            <td class="col-xs-2">2</td>
                            <td class="col-xs-2" style="padding-left: 40px!important;">3</td>
                            <td class="col-xs-3" style="padding-left: 50px!important;">
                                <a class="linkCcc" href="#sitDetail" aria-controls="char" role="tab"
                                   data-toggle="tab">座位信息</a>
                                <a class="linkCcc" href="#time" aria-controls="char" role="tab"
                                   data-toggle="tab">时间段设置</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--页码块-->
        <footer class="footer">
            <ul class="pagination">
                <li>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                    页
                </li>
                <li class="gray">
                    共20页
                </li>
                <li>
                    <i class="glyphicon glyphicon-menu-left">
                    </i>
                </li>
                <li>
                    <i class="glyphicon glyphicon-menu-right">
                    </i>
                </li>
            </ul>
        </footer>
        <!--弹出添加楼宇窗口-->
        <div class="modal fade" id="addBuilding" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="gridSystemModalLabel">添加楼宇</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <form class="form-horizontal">
                                <div class="form-group ">
                                    <label for="sName" class="col-xs-3 control-label">楼层：</label>
                                    <div class="col-xs-8 ">
                                        <input type="email" class="form-control input-sm duiqi" id="sName"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sLink" class="col-xs-3 control-label">区域：</label>
                                    <div class="col-xs-8 ">
                                        <input type="" class="form-control input-sm duiqi" id="sLink"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sOrd" class="col-xs-3 control-label">座位数：</label>
                                    <div class="col-xs-8">
                                        <input type="" class="form-control input-sm duiqi" id="sOrd"
                                               placeholder="">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                        <button type="button" class="btn btn-xs btn-green">保 存</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!--弹出修改用户窗口-->
        <div class="modal fade" id="reviseUser" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="gridSystemModalLabel">修改用户</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <form class="form-horizontal">
                                <div class="form-group ">
                                    <label for="sName" class="col-xs-3 control-label">用户名：</label>
                                    <div class="col-xs-8 ">
                                        <input type="email" class="form-control input-sm" id="sName"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sLink" class="col-xs-3 control-label">真实姓名：</label>
                                    <div class="col-xs-8 ">
                                        <input type="" class="form-control input-sm" id="sLink" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sOrd" class="col-xs-3 control-label">电子邮箱：</label>
                                    <div class="col-xs-8">
                                        <input type="" class="form-control input-sm" id="sOrd" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sKnot" class="col-xs-3 control-label">电话：</label>
                                    <div class="col-xs-8">
                                        <input type="" class="form-control input-sm" id="sKnot" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sKnot" class="col-xs-3 control-label">地区：</label>
                                    <div class="col-xs-8">
                                        <input type="" class="form-control input-sm" id="sKnot" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sKnot" class="col-xs-3 control-label">权限：</label>
                                    <div class="col-xs-8">
                                        <input type="" class="form-control input-sm" id="sKnot" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-xs-3 control-label">状态：</label>
                                    <div class="col-xs-8">
                                        <label class="control-label" for="anniu">
                                            <input type="radio" name="situation" id="normal">正常
                                        </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="control-label" for="meun">
                                            <input type="radio" name="situation" id="forbid"> 禁用
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-xs btn-xs btn-white" data-dismiss="modal">取 消
                        </button>
                        <button type="button" class="btn btn-xs btn-green">保 存</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!--弹出删除用户警告窗口-->
        <div class="modal fade" id="deleteUser" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            确定要删除该用户？删除后不可恢复！
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                        <button type="button" class="btn btn-green btn-xs">保 存</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>