<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="meun_right">
    <!-- 右侧内容详情栏目 -->
    <div id="rightContent">
        <div class="tab-content">
            <!-- 资源管理模块 -->
            <div th:include="admin/management_resource.html :: resouce"></div>
            <!-- 权限管理模块 -->
            <div th:include="admin/management_premission.html :: permission"></div>
            <!-- 用户管理模块 -->
            <div th:include="admin/management_user.html :: user"></div>
            <!-- 修改密码模块 -->
            <div th:include="admin/management_password.html :: password"></div>
            <!-- 地区管理模块 -->
            <div th:include="admin/management_area.html :: area"></div>
            <!-- 规则管理模块 -->
            <div th:include="admin/management_rule.html :: rule"></div>
            <!-- 时间段管理模块  -->
            <div th:include="admin/management_time.html :: time"></div>
            <!-- 座位管理模块 -->
            <div th:include="admin/management_seat.html :: seat"></div>
            <!-- 座位详情模块 -->
            <div th:include="admin/management_seat_detail.html :: seatDetail"></div>
            <!--人员管理模块-->
            <div th:include="admin/management_role.html :: role"></div>
        </div>
    </div>
</div>