<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="meun_right">
    <!-- 右侧内容详情栏目 -->
    <div id="rightContent">
        <div class="tab-content">
            <!-- 资源管理模块 -->
            <div th:replace="admin/content_resource.html :: resouce"></div>
            <!-- 用户管理模块 -->
            <div th:replace="admin/content_user.html :: user"></div>
            <!-- 角色管理模块 -->
            <div th:replace="admin/content_role.html :: role"></div>
            <!-- 权限管理模块 -->
            <div th:replace="admin/content_premission.html :: permission"></div>
            <!-- 分类管理模块 -->
            <div th:replace="admin/blog_classify.html :: classify"></div>
            <!-- 栏目管理模块 -->
            <div th:replace="admin/blog_column.html :: column"></div>
            <!-- 栏目管理模块 -->
            <div th:replace="admin/blog_link.html :: link"></div>
            <!-- 回收站管理模块 -->
            <div th:replace="admin/content_trash.html :: trash"></div>
            <!-- 文章管理模块 -->
            <div th:replace="admin/content_article.html :: article"></div>
            <!-- 图片管理模块 -->
            <div th:replace="admin/content_photo.html :: photo"></div>
            <!-- 留言板管理模块 -->
            <div th:replace="admin/content_message.html :: message"></div>
        </div>
    </div>
</div>