<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="meun_right">
    <!-- 右侧内容详情栏目 -->
    <div id="rightContent">
        <div class="tab-content">
            <!-- 资源管理模块 -->
            <div th:replace="admin/content_resource.html :: resouce"></div>
            <!-- 用户管理模块 -->
            <div th:replace="admin/content_user.html :: user"></div>
            <!-- 角色管理模块 -->
            <div th:replace="admin/content_role.html :: role"></div>
            <!-- 权限管理模块 -->
            <div th:replace="admin/content_premission.html :: permission"></div>
            <!-- 回收站管理模块 -->
            <div th:replace="admin/content_trash.html :: trash"></div>
            <!-- 日记管理模块 -->
            <div th:replace="admin/content_diary.html :: diary"></div>
            <!-- 文章管理模块 -->
            <div th:replace="admin/content_article.html :: article"></div>
            <!-- 修改密码模块 -->
            <div th:replace="admin/content_password.html :: password"></div>
            <!-- 地区管理模块 -->
            <div th:replace="admin/content_area.html :: area"></div>
            <!-- 规则管理模块 -->
            <div th:replace="admin/content_rule.html :: rule"></div>
            <!-- 时间段管理模块  -->
            <div th:replace="admin/content_time.html :: time"></div>
            <!-- 座位管理模块 -->
            <div th:replace="admin/content_seat.html :: seat"></div>
            <!-- 座位详情模块 -->
            <div th:replace="admin/content_seat_detail.html :: seatDetail"></div>

        </div>
    </div>
</div>