<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="statistics" role="tabpanel" class="tab-pane" id="statistics">
    <!-- 搜索框 -->
    <div class="search-div">
        <div class="col-lg-4 col-xs-5">
            <input type="text" class=" form-control input-sm " id="statisticsContent" placeholder="输入文字搜索">
            <button class="btn btn-white" onclick="searchContent()">查 询</button>
        </div>
    </div>
    <!-- 统计图表 -->
    <div class="data-div" style="margin-left: 12px;margin-right: 12px;">
        <div id="page-inner">
            <!-- 网站信息统计列表 -->
            <div class="row">
                <!-- 用户数 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box facebook-bg">
                        <i class="fa fa-users"></i>
                        <div class="count" id="countWebPV"></div>
                        <div class="title">网站浏览量(PV)</div>
                    </div>
                </div>
                <!-- 文章数 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box linkedin-bg">
                        <i class="fa fa-user"></i>
                        <div class="count" id="countWebVV"></div>
                        <div class="title">网站访问量(VV)</div>
                    </div>
                </div>
                <!-- 留言数 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box blue-bg">
                        <i class="fa fa-comments"></i>
                        <div class="count" id="countMessage"></div>
                        <div class="title">网站留言量</div>
                    </div>
                </div>
                <!-- 链接数 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box teal-bg">
                        <i class="fa fa-link"></i>
                        <div class="count" id="countLink"></div>
                        <div class="title">网站链接量</div>
                    </div>
                </div>
            </div>
            <!-- 统计网站每天流量 -->
            <div class="row">
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            访问量(VV/天)
                        </div>
                        <div class="panel-body" id="chartVV"></div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            浏览量(PV/天)
                        </div>
                        <div class="panel-body" id="chartPV"></div>
                    </div>
                </div>
            </div>
            <!-- 文章相关信息统计 -->
            <div class="row">
                <!-- 文章数 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box orange-bg">
                        <i class="fa fa-file-text-o"></i>
                        <div class="count" id="countArticle"></div>
                        <div class="title">网站文章量</div>
                    </div>
                </div>
                <!-- 图片量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box purple-bg">
                        <i class="fa fa-picture-o"></i>
                        <div class="count" id="countPhoto"></div>
                        <div class="title">网站图片量</div>
                    </div>
                </div>
                <!-- 点赞数 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box red-bg">
                        <i class="fa fa-thumbs-o-up"></i>
                        <div class="count" id="countLike"></div>
                        <div class="title">文章点赞数</div>
                    </div>
                </div>
                <!-- 甩鞋数 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box dark-bg">
                        <i class="fa fa-thumbs-o-down"></i>
                        <div class="count" id="countLikeNo"></div>
                        <div class="title">文章甩鞋数</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Bar Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-bar-chart" style="position: relative;">
                                <svg height="347" version="1.1" width="717" xmlns="http://www.w3.org/2000/svg"
                                     style="overflow: hidden; position: relative;">
                                    <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël
                                        2.1.0
                                    </desc>
                                    <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                                    <text x="33.609375" y="311" text-anchor="end" font="10px &quot;Arial&quot;"
                                          stroke="none" fill="#888888"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                          font-size="12px" font-family="sans-serif" font-weight="normal">
                                        <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                                    </text>
                                    <path fill="none" stroke="#aaaaaa" d="M46.109375,311H692" stroke-width="0.5"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                    <text x="33.609375" y="239.5" text-anchor="end" font="10px &quot;Arial&quot;"
                                          stroke="none" fill="#888888"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                          font-size="12px" font-family="sans-serif" font-weight="normal">
                                        <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">25</tspan>
                                    </text>
                                    <path fill="none" stroke="#aaaaaa" d="M46.109375,239.5H692" stroke-width="0.5"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                    <text x="33.609375" y="168" text-anchor="end" font="10px &quot;Arial&quot;"
                                          stroke="none" fill="#888888"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                          font-size="12px" font-family="sans-serif" font-weight="normal">
                                        <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">50</tspan>
                                    </text>
                                    <path fill="none" stroke="#aaaaaa" d="M46.109375,168H692" stroke-width="0.5"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                    <text x="33.609375" y="96.5" text-anchor="end" font="10px &quot;Arial&quot;"
                                          stroke="none" fill="#888888"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                          font-size="12px" font-family="sans-serif" font-weight="normal">
                                        <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">75</tspan>
                                    </text>
                                    <path fill="none" stroke="#aaaaaa" d="M46.109375,96.5H692" stroke-width="0.5"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                    <text x="33.609375" y="25" text-anchor="end" font="10px &quot;Arial&quot;"
                                          stroke="none" fill="#888888"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                          font-size="12px" font-family="sans-serif" font-weight="normal">
                                        <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">100</tspan>
                                    </text>
                                    <path fill="none" stroke="#aaaaaa" d="M46.109375,25H692" stroke-width="0.5"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                    <text x="645.8649553571429" y="323.5" text-anchor="middle"
                                          font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                          font-size="12px" font-family="sans-serif" font-weight="normal"
                                          transform="matrix(1,0,0,1,0,8)">
                                        <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012
                                        </tspan>
                                    </text>
                                    <text x="553.5948660714286" y="323.5" text-anchor="middle"
                                          font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                          font-size="12px" font-family="sans-serif" font-weight="normal"
                                          transform="matrix(1,0,0,1,0,8)">
                                        <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011
                                        </tspan>
                                    </text>
                                    <text x="461.3247767857143" y="323.5" text-anchor="middle"
                                          font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                          font-size="12px" font-family="sans-serif" font-weight="normal"
                                          transform="matrix(1,0,0,1,0,8)">
                                        <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010
                                        </tspan>
                                    </text>
                                    <text x="369.0546875" y="323.5" text-anchor="middle" font="10px &quot;Arial&quot;"
                                          stroke="none" fill="#888888"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                          font-size="12px" font-family="sans-serif" font-weight="normal"
                                          transform="matrix(1,0,0,1,0,8)">
                                        <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2009
                                        </tspan>
                                    </text>
                                    <text x="276.7845982142857" y="323.5" text-anchor="middle"
                                          font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                          font-size="12px" font-family="sans-serif" font-weight="normal"
                                          transform="matrix(1,0,0,1,0,8)">
                                        <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2008
                                        </tspan>
                                    </text>
                                    <text x="184.51450892857142" y="323.5" text-anchor="middle"
                                          font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                          font-size="12px" font-family="sans-serif" font-weight="normal"
                                          transform="matrix(1,0,0,1,0,8)">
                                        <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2007
                                        </tspan>
                                    </text>
                                    <text x="92.24441964285714" y="323.5" text-anchor="middle"
                                          font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                          font-size="12px" font-family="sans-serif" font-weight="normal"
                                          transform="matrix(1,0,0,1,0,8)">
                                        <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2006
                                        </tspan>
                                    </text>
                                    <rect x="57.643136160714285" y="25" width="33.10128348214286" height="286" r="0"
                                          rx="0" ry="0" fill="#a6a6a6" stroke="none" fill-opacity="1"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                    <rect x="93.74441964285714" y="53.60000000000002" width="33.10128348214286"
                                          height="257.4" r="0" rx="0" ry="0" fill="#24c2ce" stroke="none"
                                          fill-opacity="1"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                    <rect x="149.91322544642856" y="96.5" width="33.10128348214286" height="214.5" r="0"
                                          rx="0" ry="0" fill="#a6a6a6" stroke="none" fill-opacity="1"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                    <rect x="186.01450892857142" y="125.1" width="33.10128348214286" height="185.9"
                                          r="0" rx="0" ry="0" fill="#24c2ce" stroke="none" fill-opacity="1"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                    <rect x="242.18331473214286" y="168" width="33.10128348214286" height="143" r="0"
                                          rx="0" ry="0" fill="#a6a6a6" stroke="none" fill-opacity="1"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                    <rect x="278.2845982142857" y="196.60000000000002" width="33.10128348214286"
                                          height="114.39999999999998" r="0" rx="0" ry="0" fill="#24c2ce" stroke="none"
                                          fill-opacity="1"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                    <rect x="334.45340401785717" y="96.5" width="33.10128348214286" height="214.5" r="0"
                                          rx="0" ry="0" fill="#a6a6a6" stroke="none" fill-opacity="1"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                    <rect x="370.5546875" y="125.1" width="33.10128348214286" height="185.9" r="0"
                                          rx="0" ry="0" fill="#24c2ce" stroke="none" fill-opacity="1"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                    <rect x="426.72349330357144" y="168" width="33.10128348214286" height="143" r="0"
                                          rx="0" ry="0" fill="#a6a6a6" stroke="none" fill-opacity="1"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                    <rect x="462.82477678571433" y="196.60000000000002" width="33.10128348214286"
                                          height="114.39999999999998" r="0" rx="0" ry="0" fill="#24c2ce" stroke="none"
                                          fill-opacity="1"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                    <rect x="518.9935825892858" y="96.5" width="33.10128348214286" height="214.5" r="0"
                                          rx="0" ry="0" fill="#a6a6a6" stroke="none" fill-opacity="1"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                    <rect x="555.0948660714287" y="125.1" width="33.10128348214286" height="185.9" r="0"
                                          rx="0" ry="0" fill="#24c2ce" stroke="none" fill-opacity="1"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                    <rect x="611.2636718750001" y="25" width="33.10128348214286" height="286" r="0"
                                          rx="0" ry="0" fill="#a6a6a6" stroke="none" fill-opacity="1"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                    <rect x="647.364955357143" y="53.60000000000002" width="33.10128348214286"
                                          height="257.4" r="0" rx="0" ry="0" fill="#24c2ce" stroke="none"
                                          fill-opacity="1"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                </svg>
                                <div class="morris-hover morris-default-style"
                                     style="display: none; left: 601.365px; top: 138px;">
                                    <div class="morris-hover-row-label">2012</div>
                                    <div class="morris-hover-point" style="color: #A6A6A6">
                                        Series A:
                                        100
                                    </div>
                                    <div class="morris-hover-point" style="color: #24C2CE">
                                        Series B:
                                        90
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Donut Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart">
                                <svg height="347" version="1.1" width="198" xmlns="http://www.w3.org/2000/svg"
                                     style="overflow: hidden; position: relative; left: -0.5px;">
                                    <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël
                                        2.1.0
                                    </desc>
                                    <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                                    <path fill="none" stroke="#a6a6a6"
                                          d="M99,235.33333333333334A59.333333333333336,59.333333333333336,0,0,0,155.332157175399,194.6314924901519"
                                          stroke-width="2" opacity="0"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                                    <path fill="#a6a6a6" stroke="#ffffff"
                                          d="M99,238.33333333333334A62.333333333333336,62.333333333333336,0,0,0,158.18041231348099,195.57353424527196L178.7511438662952,202.37716914336113A84,84,0,0,1,99,260Z"
                                          stroke-width="3"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                    <path fill="none" stroke="#24c2ce"
                                          d="M155.332157175399,194.6314924901519A59.333333333333336,59.333333333333336,0,0,0,45.80708496873723,149.7139155650503"
                                          stroke-width="2" opacity="1"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path>
                                    <path fill="#24c2ce" stroke="#ffffff"
                                          d="M158.18041231348099,195.57353424527196A62.333333333333336,62.333333333333336,0,0,0,43.11755555704417,148.38484388013714L19.210627453105843,136.57087334757546A89,89,0,0,1,183.4982357630985,203.94723873522787Z"
                                          stroke-width="3"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                    <path fill="none" stroke="#a8e9dc"
                                          d="M45.80708496873723,149.7139155650503A59.333333333333336,59.333333333333336,0,0,0,98.98135988389528,235.33333040535072"
                                          stroke-width="2" opacity="0"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                                    <path fill="#a8e9dc" stroke="#ffffff"
                                          d="M43.11755555704417,148.38484388013714A62.333333333333336,62.333333333333336,0,0,0,98.9804174061147,238.33333025730667L98.97361062214387,259.9999958547662A84,84,0,0,1,23.69317647259429,138.78599282243079Z"
                                          stroke-width="3"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                    <text x="99" y="166" text-anchor="middle" font="10px &quot;Arial&quot;"
                                          stroke="none" fill="#000000"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 800 15px Arial;"
                                          font-size="15px" font-weight="800"
                                          transform="matrix(0.9268,0,0,0.9268,7.2456,12.9552)"
                                          stroke-width="1.0789735486891383">
                                        <tspan dy="6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">In-Store
                                            Sales
                                        </tspan>
                                    </text>
                                    <text x="99" y="186" text-anchor="middle" font="10px &quot;Arial&quot;"
                                          stroke="none" fill="#000000"
                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 14px Arial;"
                                          font-size="14px" transform="matrix(1.2361,0,0,1.2361,-23.3971,-42.0278)"
                                          stroke-width="0.8089887640449438">
                                        <tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30</tspan>
                                    </text>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Tasks Panel
                        </div>
                        <div class="panel-body">
                            <div class="list-group">

                                <a href="#" class="list-group-item">
                                    <span class="badge">7 minutes ago</span>
                                    <i class="fa fa-fw fa-comment"></i> Commented on a post
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="badge">16 minutes ago</span>
                                    <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="badge">36 minutes ago</span>
                                    <i class="fa fa-fw fa-globe"></i> Invoice 653 has paid
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="badge">1 hour ago</span>
                                    <i class="fa fa-fw fa-user"></i> A new user has been added
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="badge">1.23 hour ago</span>
                                    <i class="fa fa-fw fa-user"></i> A new user has added
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="badge">yesterday</span>
                                    <i class="fa fa-fw fa-globe"></i> Saved the world
                                </a>
                            </div>
                            <div class="text-right">
                                <a href="#">More Tasks <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Responsive Table Example
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>User Name</th>
                                        <th>Email ID.</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>John</td>
                                        <td>Doe</td>
                                        <td>John15482</td>
                                        <td>name@site.com</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Kimsila</td>
                                        <td>Marriye</td>
                                        <td>Kim1425</td>
                                        <td>name@site.com</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Rossye</td>
                                        <td>Nermal</td>
                                        <td>Rossy1245</td>
                                        <td>name@site.com</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Richard</td>
                                        <td>Orieal</td>
                                        <td>Rich5685</td>
                                        <td>name@site.com</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Jacob</td>
                                        <td>Hielsar</td>
                                        <td>Jac4587</td>
                                        <td>name@site.com</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Wrapel</td>
                                        <td>Dere</td>
                                        <td>Wrap4585</td>
                                        <td>name@site.com</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // 选项卡激活后的点击事件
        $('div[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            // 判断是哪个选项卡
            var controls = $(this).attr('aria-controls');
            console.info(controls);
            if ('statistics' === controls) {
                $.ajax({
                    //请求URL地址,controller的名称
                    url: "/operation/queryStatisticsList",
                    //请求返回数据格式为json,还可以是text等
                    dataType: "json",
                    //请求是否为异步,默认是true
                    async: true,
                    //是否从浏览器缓存中加载数据信息
                    cache: false,
                    //设置请求超时时间
                    timeout: 1000,
                    //参数值,如果URL带参数,这里就可以不用写了
                    data: {},
                    //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                    type: "GET",
                    //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                    beforeSend: function () {

                    },
                    //请求成功时的处理函数,参数(返回数据,返回状态)
                    success: function (data) {
                        console.info(JSON.stringify(data));
                        $("#countWebVV").text(data.countWebVV);
                        $("#countWebPV").text(data.countWebPV);
                        $("#countLink").text(data.countLink);
                        $("#countMessage").text(data.countMessage);
                        $("#countArticle").text(data.countArticle);
                        $("#countPhoto").text(data.countPhoto);
                        $("#countLike").text(data.countLike);
                        $("#countLikeNo").text(data.countLikeNo);
                    },
                    //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                    complete: function () {
                    },
                    //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                    error: function () {
                    }
                });
            }
        });

        // 搜索操作
        function searchContent() {
            // 检索词
            var key = $("#trashContent").val();
            // out
            console.info("检索词:" + key);
        };
    </script>
</div>