<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="statistics" role="tabpanel" class="tab-pane" id="statistics">
    <!-- 搜索框 -->
    <div class="search-div">
        <div class="col-lg-4 col-xs-5">
            <input type="text" class=" form-control input-sm " id="statisticsContent" placeholder="输入文字搜索">
            <button class="btn btn-white" onclick="searchContent()">查 询</button>
        </div>
    </div>
    <!-- 统计图表 -->
    <div class="data-div" style="margin-left: 12px;margin-right: 12px;">
        <div id="page-inner">
            <!-- 网站流量统计列表 -->
            <div class="row">
                <!-- 浏览量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box facebook-bg">
                        <i class="fa fa-users"></i>
                        <div class="count" id="countWebPV"></div>
                        <div class="title">网站浏览量[PV]</div>
                    </div>
                </div>
                <!-- 访问量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box linkedin-bg">
                        <i class="fa fa-user-md"></i>
                        <div class="count" id="countWebVV"></div>
                        <div class="title">网站访问量[VV]</div>
                    </div>
                </div>
                <!-- 用户量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box blue-bg">
                        <i class="fa fa-user"></i>
                        <div class="count" id="countWebUV"></div>
                        <div class="title">网站用户量[UV]</div>
                    </div>
                </div>
                <!-- 留言量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box teal-bg">
                        <i class="fa fa-comments"></i>
                        <div class="count" id="countMessage"></div>
                        <div class="title">网站留言量</div>
                    </div>
                </div>
                <!-- 链接数 -->
                <!--<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">-->
                <!--<div class="info-box teal-bg">-->
                <!--<i class="fa fa-link"></i>-->
                <!--<div class="count" id="countLink"></div>-->
                <!--<div class="title">网站链接量</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <!-- 统计网站每天流量 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div id="statisticsVChart" style="width: 547px;height:437px;"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div id="statisticsCChart" style="width: 547px;height:437px;"></div>
                    </div>
                </div>
            </div>
            <!-- 文章相关信息统计 -->
            <div class="row">
                <!-- 文章量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box orange-bg">
                        <i class="fa fa-file-text-o"></i>
                        <div class="count" id="countArticle"></div>
                        <div class="title">网站文章量</div>
                    </div>
                </div>
                <!-- 图片量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box purple-bg">
                        <i class="fa fa-picture-o"></i>
                        <div class="count" id="countPhoto"></div>
                        <div class="title">网站图片量</div>
                    </div>
                </div>
                <!-- 点赞量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box red-bg">
                        <i class="fa fa-thumbs-o-up"></i>
                        <div class="count" id="countLike"></div>
                        <div class="title">文章点赞数</div>
                    </div>
                </div>
                <!-- 甩鞋量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box dark-bg">
                        <i class="fa fa-thumbs-o-down"></i>
                        <div class="count" id="countLikeNo"></div>
                        <div class="title">文章甩鞋数</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // 选项卡激活后的点击事件
        $('div[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            // 判断是哪个选项卡
            var controls = $(this).attr('aria-controls');
            console.info(controls);
            if ('statistics' === controls) {
                $.ajax({
                    //请求URL地址,controller的名称
                    url: "/operation/queryStatisticsList",
                    //请求返回数据格式为json,还可以是text等
                    dataType: "json",
                    //请求是否为异步,默认是true
                    async: true,
                    //是否从浏览器缓存中加载数据信息
                    cache: false,
                    //设置请求超时时间
                    timeout: 1000,
                    //参数值,如果URL带参数,这里就可以不用写了
                    data: {},
                    //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
                    type: "GET",
                    //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
                    beforeSend: function () {

                    },
                    //请求成功时的处理函数,参数(返回数据,返回状态)
                    success: function (data) {
                        $("#countWebPV").text(data.countWebPV);
                        $("#countWebVV").text(data.countWebVV);
                        $("#countWebUV").text(data.countWebUV);
                        $("#countLink").text(data.countLink);
                        $("#countMessage").text(data.countMessage);
                        $("#countArticle").text(data.countArticle);
                        $("#countPhoto").text(data.countPhoto);
                        $("#countLike").text(data.countLike);
                        $("#countLikeNo").text(data.countLikeNo);
                        // 统计图
                        statisticsVChart(data);
                        statisticsCChart(data);

                    },
                    //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
                    complete: function () {
                    },
                    //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
                    error: function () {
                    }
                });
            }
        });

        // 流量统计图
        function statisticsVChart(data) {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('statisticsVChart'));
            // 全局调色盘。
            // color: ['#c23531','#2f4554', '#61a0a8', '#d48265', '#91c7ae','#749f83',  '#ca8622', '#bda29a','#6e7074', '#546570', '#c4ccd3']
            // 指定图表的配置项和数据
            var option = {

                title: {
                    text: '流量统计图'
                },
                tooltip: {},
                legend: {
                    data: []
                },
                xAxis: {
                    data: ["浏览量[PV]", "访问量[VV]", "用户数[UV]"]
                },
                yAxis: {},
                series: [{
                    name: '统计量',
                    type: 'bar',
                    data: [data.countWebPV, data.countWebVV, data.countWebUV],
                    color: ['#2f4554']
                }]
            };
            // 使用刚指定的配置项和数据显示图表
            myChart.setOption(option);
        }

        // 内容统计图
        function statisticsCChart(data) {

            var myChart = echarts.init(document.getElementById('statisticsCChart'));

            var option = {
                title: {
                    text: '内容统计图'
                },
                tooltip: {},
                legend: {
                    data: []
                },
                xAxis: {
                    data: ["留言量", "连接量", "文章量", "图片量", "点赞量", "甩鞋量"]
                },
                yAxis: {},
                series: [{
                    name: '统计量',
                    type: 'bar',
                    data: [data.countMessage, data.countLink, data.countArticle, data.countPhoto, data.countLike, data.countLikeNo],
                    color: ['#61a0a8']
                }],
                label: {
                    textStyle: {
                        color: 'rgba(255, 255, 255, 0.3)'
                    }
                }
            };
            myChart.setOption(option);
        }

        // 搜索操作
        function searchContent() {
            // 检索词
            var key = $("#trashContent").val();
            // out
            console.info("检索词:" + key);
        }
    </script>
</div>