<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="statistics" role="tabpanel" class="tab-pane" id="statistics">
    <!-- 搜索框 -->
    <div class="search-div">
        <div class="col-lg-4 col-xs-5">
            <input type="text" class=" form-control input-sm " id="searchStatisticsContent" placeholder="输入文字搜索">
            <button class="btn btn-white" onclick="searchContent()">查 询</button>
        </div>
    </div>
    <!-- 统计图表 -->
    <div class="data-div" style="margin-left: 12px;margin-right: 12px;">
        <div id="page-inner">
            <!-- 网站流量统计列表 -->
            <div class="row">
                <!-- 浏览量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box facebook-bg">
                        <i class="fa fa-users"></i>
                        <div class="count" id="countWebPV"></div>
                        <div class="title">网站浏览量[PV]</div>
                    </div>
                </div>
                <!-- 访问量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box linkedin-bg">
                        <i class="fa fa-user-md"></i>
                        <div class="count" id="countWebVV"></div>
                        <div class="title">网站访问量[VV]</div>
                    </div>
                </div>
                <!-- 用户量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box blue-bg">
                        <i class="fa fa-user"></i>
                        <div class="count" id="countWebUV"></div>
                        <div class="title">网站用户量[UV]</div>
                    </div>
                </div>
                <!-- 留言量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box teal-bg">
                        <i class="fa fa-comments"></i>
                        <div class="count" id="countMessage"></div>
                        <div class="title">网站留言量</div>
                    </div>
                </div>
                <!-- 链接数 -->
                <!--<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">-->
                <!--<div class="info-box teal-bg">-->
                <!--<i class="fa fa-link"></i>-->
                <!--<div class="count" id="countLink"></div>-->
                <!--<div class="title">网站链接量</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <!-- 统计网站每天流量 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div id="statisticsVChart" style="width: 547px;height:437px;"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div id="statisticsCChart" style="width: 547px;height:437px;"></div>
                    </div>
                </div>
            </div>
            <!-- 文章相关信息统计 -->
            <div class="row">
                <!-- 文章量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box orange-bg">
                        <i class="fa fa-file-text-o"></i>
                        <div class="count" id="countArticle"></div>
                        <div class="title">网站文章量</div>
                    </div>
                </div>
                <!-- 图片量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box purple-bg">
                        <i class="fa fa-picture-o"></i>
                        <div class="count" id="countimage"></div>
                        <div class="title">网站图片量</div>
                    </div>
                </div>
                <!-- 点赞量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box red-bg">
                        <i class="fa fa-thumbs-o-up"></i>
                        <div class="count" id="countLike"></div>
                        <div class="title">文章点赞数</div>
                    </div>
                </div>
                <!-- 甩鞋量 -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box dark-bg">
                        <i class="fa fa-thumbs-o-down"></i>
                        <div class="count" id="countLikeNo"></div>
                        <div class="title">文章甩鞋数</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>