<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="column" column="tabpanel" class="tab-pane" id="column">
    <div class="check-div">
        <button class="btn btn-primary" data-toggle="modal" data-target="#addColumn">添加栏目</button>
    </div>
    <div class="data-div">
        <!-- 列名 -->
        <div class="row tableHeader">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">序号</div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">栏目</div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">描述</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">栏目操作</div>
        </div>
        <!-- 数据 -->
        <div class="tablebody" id="columnTablebody"></div>
    </div>
    <!-- 分页 -->
    <footer class="footer" style="padding:10px;">
        <ul class="pagination" id="columnPagination"></ul>
    </footer>
    <!--弹出窗口 增加栏目-->
    <div class="modal fade" id="addColumn" column="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" column="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加栏目</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal" id="columnAddForm">
                            <div class="form-group ">
                                <label for="" class="col-xs-3 control-label">栏目名：</label>
                                <div class="col-xs-6 ">
                                    <input type="text" class="form-control input-sm duiqi" name="name"
                                           placeholder="请输入栏目名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">分类：</label>
                                <div class="col-xs-8 ">
                                    <select class="form-control select-duiqi" name="classifyId"
                                            id="addClassifyId"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">描述：</label>
                                <div class="col-xs-6 ">
                                    <textarea class="form-control input-sm duiqi" name="description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">状态：</label>
                                <div class="col-xs-8">
                                    <label class="control-label">
                                        <input type="radio" name="isDelete" value="0">正常</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="control-label">
                                        <input type="radio" name="isDelete" value="1"> 禁用</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-green" th:onclick="'javascript:addColumn()'">保 存</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">取 消</button>
                </div>
            </div>
        </div>
    </div>
    <!--弹出窗口 修改栏目-->
    <div class="modal fade" id="updateColumn" column="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" column="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">修改栏目</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal" id="columnUpdateForm">
                            <input type="hidden" name="id" id="columnId" value="">
                            <div class="form-group ">
                                <label for="" class="col-xs-3 control-label">栏目名：</label>
                                <div class="col-xs-6 ">
                                    <input type="email" class="form-control input-sm duiqi" id="columnName"
                                           name="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">分类：</label>
                                <div class="col-xs-8 ">
                                    <select class="form-control select-duiqi" name="classifyId"
                                            id="updateClassifyId"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">描述：</label>
                                <div class="col-xs-6 ">
                                    <textarea class="form-control input-sm duiqi" id="columnDescription"
                                              name="description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">状态：</label>
                                <div class="col-xs-8">
                                    <label class="control-label">
                                        <input type="radio" name="isDelete" id="columnNormal" value="0">正常</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="control-label">
                                        <input type="radio" name="isDelete" id="columnForbidden" value="1"> 禁用</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-green" th:onclick="'javascript:updateColumn()'">保 存
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">取 消</button>
                </div>
            </div>
        </div>
    </div>
</div>