<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common/head.html :: head"></head>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/style.css">
<body>
<div id="wrapper">
    <!-- 头文件 -->
    <div th:replace="common/header.html :: header"></div>
    <!-- 内容头CSS -->
    <div class="jztop"></div>
    <!-- container -->
    <div class="container">
        <div class="con_content">
            <div class="about_box">
                <div class="banner">
                    您现在的位置是：<a href="/index/home" target="_self">网站首页</a>>>关于我
                </div>
                <!-- content -->
                <div class="scene">
                    <div class="box">
                        <ul class="ring"></ul>
                    </div>
                    <div class="item">
                        <p class="a_title">Introduce</p>
                        <p class="pf">2015年开始JavaEE修道之旅,喜欢搭建框架,优化代码结构,对分布式开发及缓存技术具有极强的兴趣,平时会写博客和学习新技术,不断挑战自我!</p>
                        <p class="a_title">coder or copyer</p>
                        <p class="pf">[原创]一直拿着coder的工资,却天天干着copyer的工作,等N年以后,却只能拿着copyer的工资,干着coder的工作!</p>
                        <p class="a_title">LOL战区</p>
                        <p class="pf">[弗雷尔卓德]寂寞De小男吟Top</p>
                        <p class="a_title">希望寄语</p>
                        <p class="pf">[幸福来敲门]路还长,别失望!</p>
                        <p class="a_title">开源中国</p>
                        <p class="pf">[OSChina]https://my.oschina.net/Tsher2015</p>
                    </div>
                </div>
                <!-- operation -->
                <div class="table" style="margin-top: 200px;">
                    <a href="javascript:" class="active">圆球</a>
                    <a href="javascript:">圆锥</a>
                    <a href="javascript:">柱状</a>
                    <a href="javascript:">柱状扭曲</a>
                </div>
                <div class="line"></div>
                <div class="btn2" style="margin-left: 45%">
                    <button>3D还原技术</button>
                </div>
            </div>
        </div>
        <!-- 内容脚CSS -->
        <div class="jzend"></div>
    </div>
    <!-- 页脚 -->
    <div th:replace="common/footer :: footer"></div>
</div>
</body>
</html>
