<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="文章"/>
    <meta name="description" content="darker文章"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>darker文章</title>
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/m.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/images/favicon-.ico" rel="shortcut icon" type="image/x-icon"/>
    <script src="/js/jquery.js" type="text/javascript"></script>
</head>
<body>
<div id="wrapper">
    <!-- 页头 -->
    <div th:include="common/header.html :: header"></div>
    <!-- 内容头CSS-->
    <div class="jztop"></div>
    <!-- container -->
    <div class="container">
        <div class="con_content">
            <div class="about_box">
                <div class="banner">
                    您现在的位置是：<a href="/index/home" target="_self">网站首页</a>>>慢生活>>每周一记
                </div>
                <div class="dtxw box" th:each="article : ${articleList}">
                    <!-- 总页数 -->
                    <input type="hidden" id="pageNum" th:value="${pageNum}">
                    <input type="hidden" id="classifyId" th:value="${classifyId}">
                    <input type="hidden" id="columnId" th:value="${columnId}">
                    <li>
                        <div class="dttext">
                            <div class="xwpic">
                                <a th:href="@{'/index/detail/article/'+${article.id}}"><img src="/images/02.jpg"></a>
                            </div>
                            <ul>
                                <!-- 标题 -->
                                <h2><a th:href="@{'/index/detail/article/'+${article.id}}"
                                       th:text="${article.title}"></a>
                                </h2>
                                <!-- 简述 -->
                                <p th:utext="${#strings.substring(article.content,0,100)}"></p>
                                <!-- 辅助信息 -->
                                <div class="binfo">
                                    <span class="lm"><a href="/">个人日记</a></span>
                                    <span th:utext="'已有'+${article.readAmount}+'人阅读'"></span>
                                    <span class="atime"
                                          th:text="${#dates.format(article.updateTime,'yyyy/MM/dd HH:mm')}"></span>
                                </div>
                            </ul>
                        </div>
                    </li>
                </div>
                <div class="pagelist" id="selectPage" value=""></div>
            </div>
        </div>
        <!-- 内容脚CSS-->
        <div class="jzend"></div>
    </div>
    <!-- 页脚 -->
    <div th:include="common/footer.html :: footer"></div>
</div>
<script>
    window.onload=function() {
        // 当前页数
        var pageNum = $("#pageNum").val();
        // 分类ID
        var classifyId = $("#classifyId").val();
        // 栏目ID
        var columnId = $("#columnId").val();
        console.info(pageNum + classifyId + columnId);
        var pageHtml = '<a href="">首页</a>';
        pageHtml +='<a href="">上一页</a>';

        if (parseInt(pageNum) === 1) {
            // 若是第一页
            pageHtml += '<a href="">1</a>';
            pageHtml += '<a href="">2</a>';
            pageHtml += '<a href="">3</a>';
            pageHtml += '<a href="">4</a>';
            pageHtml += '<a href="">5</a>';
        }
        pageHtml += '<a href="">下一页</a>';
        pageHtml +='<a href="">尾页</a>';
        console.info(pageHtml);
        $("#selectPage").html(pageHtml);
    }
</script>
</body>

</html>