<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common/head.html :: head"></head>
<link rel="stylesheet" href="/sweetalert/css/sweetalert2.min.css"/>
<link rel="stylesheet" href="/css/globle.css">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
<body>
<div id="wrapper">
    <div th:replace="common/header.html :: header"></div>
    <div class="jztop"></div>
    <!-- container -->
    <div class="container">
        <div class="bloglist f_l">
            <!-- 标题 -->
            <h3 class="blogtitle">
                <span th:text="${object.columnName}"></span>
                <a th:href="@{'/index/detail/article/'+${object.id}}" th:text="${object.title}"></a>&nbsp;
                <!-- 复制 -->
                <a href="#" class="copy" data-clipboard-action="copy" data-clipboard-target="#contentDetail"
                   title="复制代码">
                    <i class="fa fa-floppy-o"></i>
                </a>
            </h3>
            <!-- 提示信息 -->
            <div class="autor">
                <!-- 时钟 -->
                <span class="dtime f_l" th:text="${#dates.format(object.updateTime,'yyyy/MM/dd HH:mm')}"></span>
                <!-- 浏览量 -->
                共<a href="#" th:utext="${object.readAmount}"></a>人围观&nbsp;
                <!-- 点赞量 -->
                <a href="#" th:utext="${object.likeAmount}"></a>人点赞&nbsp;
                <!-- 甩鞋量 -->
                <a href="#" th:utext="${object.likeNoAmount}"></a>人甩鞋
            </div>
            <br/>
            <div class="article_about" th:if="${object.summary!=null&&object.summary!=''}">
                <span th:utext="${'<b>简介</b>&nbsp;'+object.summary}"></span>
            </div>
            <br/>
            <!-- 内容 -->
            <div class="bloginfo" id="contentDetail">
                <span th:utext="${#strings.trim(object.content)}"></span>
            </div>
            <br/><br/>
            <div style="margin-bottom: 30px;" align="center">
                <button type="button" class="btn btn-praise" id="like"
                        th:text="'点赞('+${object.likeAmount}+')'"
                        th:value="${object.likeAmount}"
                        th:onclick="'javascript:addLike('+${object.id}+')'">点赞(999)
                </button>&nbsp;&nbsp;
                <button type="button" class="btn btn-bad" id="likeNo"
                        th:text="'甩鞋('+${object.likeNoAmount}+')'"
                        th:value="${object.likeNoAmount}"
                        th:onclick="'javascript:addNoLike('+${object.id}+')'">甩鞋(666)
                </button>&nbsp;&nbsp;
                <button type="button" class="btn btn-money" onclick="addMoney()">打赏</button>
            </div>
            <!-- 留言板 -->
            <!-- 若留言为空,则取消留言板 -->
            <div th:if="${#lists.size(messageList)!=0}">
                <h3 class="blogtitle">
                    <hr style=" height:2px;border:none;border-top:2px dotted #DDDDDD;"/>
                    <span>留言板</span>
                </h3>
                <div id="messageBoard">
                    <div th:each="message : ${messageList}">
                        <h3 class="netFriend">
                            <span th:text="${message.userName}+':'"></span>
                        </h3>
                        <p style="text-indent: 2em;line-height: 22px;" th:text="${message.content}"></p>
                    </div>
                </div>
            </div>
            <!-- 评论 -->
            <h3 class="blogtitle">
                <hr style=" height:2px;border:none;border-top:2px dotted #DDDDDD;"/>
                <span>文章评论</span>
            </h3>
            <!-- 留言表单 -->
            <form action="" id="messageAddForm">
                <input type="hidden" name="articleId" th:value="${object.id}">
                <div class="form-group">
                    <label for="userName">您的昵称</label>
                    <input type="text" class="form-control" name="userName" id="userName" value=""
                           placeholder="请输入您的昵称">
                </div>
                <div class="form-group">
                    <label for="email">您的邮件</label>
                    <input type="text" class="form-control" name="email" id="email" value=""
                           placeholder="请输入您的邮件">
                </div>
                <div class="form-group">
                    <label for="content">您的评论</label>
                    <textarea class="form-control" name="content" id="content" value=""></textarea>
                </div>
                <br/>
                <div class="checkbox">
                    <input type="checkbox" name="loginSession" id="loginSession" value=""/>
                    <label>Remember me</label>
                </div>
                <br/>
                <button type="button" class="btn btn-primary" onclick="addMessage();">Submit</button>
            </form>
            <br/>
        </div>
        <!-- 右侧栏 -->
        <div th:replace="index/home_right.html :: home_right"></div>
    </div>
    <div class="jzend"></div>
    <div th:replace="common/footer :: footer"></div>
</div>
<script>
    function addMessage() {
        $.ajax({
            //请求URL地址,controller的名称
            url: "/content/addMessage",
            //请求返回数据格式为json,还可以是text等
            dataType: "JSON",
            //请求是否为异步,默认是true
            async: true,
            //是否从浏览器缓存中加载数据信息
            cache: false,
            //设置请求超时时间
            timeout: 1000,
            //参数值,如果URL带参数,这里就可以不用写了
            data: $('#messageAddForm').serialize(),
            //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
            type: "POST",
            //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
            beforeSend: function () {
                // 表单校验
                if ($("#userName").val() === "" || $("#email").val() === "" || $("#content").val() === "") {
                    swal("表单不能为空!", "请详细填写所有内容!", "warning");
                    return false;
                }
                // 判断邮件格式是否正确
                var pattern = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
                if (!pattern.test($("#email").val())) {
                    //邮箱格式不正确
                    swal("邮件格式不正确!", "请重新填写邮件!", "warning");
                    return false;
                }
            },
            //请求成功时的处理函数,参数(返回数据,返回状态)
            success: function (data) {
                // 清空form表单
                if (document.getElementById("loginSession").checked) {
                    // 若选中checkbox,则只有内容清空
                    $("#content").val('');
                } else {
                    // 若没有选择checkbox,则表单全部清空
                    document.getElementById("messageAddForm").reset();
                }
                // 回显留言板,更新数据
                updateMessageBoard(data);
                // 提示信息
                swal({
                    title: '感谢您的评论!',
                    text: '听说秋名山上司机稀少,不知道少侠,曾经去过吗?',
                    timer: 2000
                }).then(
                    function () {
                    },
                    // handling the promise rejection
                    function (dismiss) {
                        if (dismiss === 'timer') {
                            console.log('I was closed by the timer')
                        }
                    }
                )
            },
            //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
            complete: function () {
            },
            //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
            error: function () {
            }
        });
    }

    // 留言板更新操作
    function updateMessageBoard(data) {

        var html = '';

        var messageArray = eval("(" + data + ")").messageList;

        for (var i = 0; i < messageArray.length; i++) {

            var message = messageArray[i];

            html += '<h3 class="netFriend">';
            html += '<span th:text="${message.userName}">' + message.userName + '</span>';
            html += '</h3>';
            html += '<p style="text-indent: 2em;line-height: 22px;" th:text="${message.content}">' + message.content + '</p>';
        }
        $("#messageBoard").html(html);
    }

    // 点赞操作
    function addLike(id) {
        // 获取当前点赞数
        var likeAmount = $("#like").val();
        $.ajax({
            //请求URL地址,controller的名称
            url: "/index/addLike/" + id,
            //请求返回数据格式为json,还可以是text等
            dataType: "JSON",
            //请求是否为异步,默认是true
            async: true,
            //是否从浏览器缓存中加载数据信息
            cache: false,
            //设置请求超时时间
            timeout: 1000,
            //参数值,如果URL带参数,这里就可以不用写了
            data: {'likeAmount': likeAmount},
            //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
            type: "POST",
            //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
            beforeSend: function () {
            },
            //请求成功时的处理函数,参数(返回数据,返回状态)
            success: function (data) {
                var result = eval("(" + data + ")");
                if (result.msg === 'success') {
                    swal({
                        title: '谢谢支持!',
                        text: '人生唯一的捷径就是坚持!',
                        timer: 2000
                    }).then(
                        function () {
                        },
                        // handling the promise rejection
                        function (dismiss) {
                            if (dismiss === 'timer') {
                                console.log('I was closed by the timer')
                            }
                        }
                    );
                    $("#like").val(result.likeAmount);
                    $("#like").text('点赞(' + result.likeAmount + ')');
                } else {
                    swal('点赞迷路了,博主会尽快修复!', '', 'error');
                }
            },
            //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
            complete: function () {
            },
            //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
            error: function () {
            }
        });
    }

    // 甩鞋操作
    function addNoLike(id) {
        // 获取当前点赞数
        var likeNoAmount = $("#likeNo").val();
        $.ajax({
            //请求URL地址,controller的名称
            url: "/index/addNoLike/" + id,
            //请求返回数据格式为json,还可以是text等
            dataType: "JSON",
            //请求是否为异步,默认是true
            async: true,
            //是否从浏览器缓存中加载数据信息
            cache: false,
            //设置请求超时时间
            timeout: 1000,
            //参数值,如果URL带参数,这里就可以不用写了
            data: {'likeNoAmount': likeNoAmount},
            //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
            type: "POST",
            //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
            beforeSend: function () {
            },
            //请求成功时的处理函数,参数(返回数据,返回状态)
            success: function (data) {
                var result = eval("(" + data + ")");
                if (result.msg === 'success') {
                    swal({
                        title: '感谢老铁赠送的金拖!',
                        text: '既然选择远方,又怎能没有梦想!',
                        timer: 2000
                    }).then(
                        function () {
                        },
                        // handling the promise rejection
                        function (dismiss) {
                            if (dismiss === 'timer') {
                                console.log('I was closed by the timer')
                            }
                        }
                    );
                    $("#likeNo").val(result.likeNoAmount);
                    $("#likeNo").text('甩鞋(' + result.likeNoAmount + ')');
                } else {
                    swal('点赞迷路了,博主会尽快修复!', '', 'error');
                }
            },
            //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
            complete: function () {
            },
            //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
            error: function () {
            }
        });
    }

    // 打赏操作
    function addMoney() {
        swal.setDefaults({
            confirmButtonText: 'NEXT',
            showCancelButton: true,
            animation: false
        });
        var steps = [
            {
                title: '感谢大佬的赞助!',
                text: '万水千山总是情,来点票子行不行!',
                imageUrl: '../../../images/wxpay.jpg',
                imageWidth: 250,
                imageHeight: 300
            },
            {
                title: '感谢大佬的赞助!',
                text: '有了花钱的快感,才能有赚钱的动力!',
                imageUrl: '../../../images/alipay.jpg',
                imageWidth: 250,
                imageHeight: 300
            },
            {
                title: '感谢大佬的赞助!',
                text: '花钱虽易,挣钱不易,且花且珍惜!',
                imageUrl: '../../../images/qqpay.png',
                imageWidth: 250,
                imageHeight: 300
            }
        ];

        swal.queue(steps).then(function () {
            swal({
                title: '再次感谢大佬的赞助!',
                confirmButtonText: 'CLOSE',
                showCancelButton: false
            });
        }).finally(function () {
            swal.resetDefaults();
        })
    }

    /*3D标签云*/
    tagcloud({
        selector: ".tagcloud",  //元素选择器
        fontsize: 16,       //基本字体大小, 单位px
        radius: 100,         //滚动半径, 单位px
        mspeed: "normal",   //滚动最大速度, 取值: slow, normal(默认), fast
        ispeed: "normal",   //滚动初速度, 取值: slow, normal(默认), fast
        direction: 135,     //初始滚动方向, 取值角度(顺时针360): 0对应top, 90对应left, 135对应right-bottom(默认)...
        keep: false          //鼠标移出组件后是否继续随鼠标滚动, 取值: false, true(默认) 对应 减速至初速度滚动, 随鼠标滚动
    });
    /* 复制操作 */
    var clipboard = new Clipboard('.copy');
    clipboard.on('success', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
        swal({
            title: '复制成功!',
            type: 'info',
            timer: 2000
        }).then(
            function () {
            },
            // handling the promise rejection
            function (dismiss) {
                if (dismiss === 'timer') {
                    console.log('I was closed by the timer')
                }
            }
        );
        e.clearSelection();
    });

    clipboard.on('error', function (e) {
        console.error('Action:', e.action);
        console.error('Trigger:', e.trigger);
        swal({
            title: '出错了!',
            type: 'error',
            timer: 2000
        }).then(
            function () {
            },
            // handling the promise rejection
            function (dismiss) {
                if (dismiss === 'timer') {
                    console.log('I was closed by the timer')
                }
            }
        );
    });
</script>
</body>
</html>
