<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common/head.html :: head"></head>
<link rel="stylesheet" href="/css/main.css">
<body>
<div id="wrapper">
    <div th:replace="common/header.html :: header"></div>
    <div class="jztop"></div>
    <!-- container -->
    <div class="container">
        <div class="con_content">
            <div class="about_box">
                <div class="banner">
                    您现在的位置是：<a href="/index/home" target="_self">网站首页</a>
                    <span th:text="'>>'+${classifyName}"></span>
                    <span th:text="'>>'+${columnName}" th:if="${columnName!=null&&columnName!=''}"></span>
                </div>
                <!-- 当前页 -->
                <input type="hidden" id="pageNum" th:value="${pageNum}">
                <!-- 总页数 -->
                <input type="hidden" id="pageNumSum" th:value="${pageNumSum}">
                <!-- 总条数 -->
                <input type="hidden" id="numSum" th:value="${numSum}">
                <!-- 分类ID -->
                <input type="hidden" id="classifyId" th:value="${classifyId}">
                <!-- 栏目ID -->
                <input type="hidden" id="columnId" th:value="${columnId}">
                <div class="dtxw box" th:each="object : ${list}">
                    <div class="dttext">
                        <div class="xwpic">
                            <span th:if="${object.imageName!= null&&object.imageName!=''}">
                                    <a th:href="@{'/images/show/'+${object.imageName}}">
                                        <i><img th:src="@{'/images/show/'+${object.imageName}}" height="150"
                                                width="200"></i>
                                    </a>
                            </span>
                            <span th:if="${object.imageName== null||object.imageName==''}">
                                   <a th:href="@{'/index/article/detail/'+${object.id}}"><img src="/images/others/photo.jpg"></a>
                            </span>
                        </div>
                        <ul>
                            <!-- 标题 -->
                            <h2><a th:href="@{'/index/article/detail/'+${object.id}}"
                                   th:text="${object.title}"></a>
                            </h2>
                            <!-- 简述<字数不够100,会出错> -->
                            <div th:if="${object.summary!=null&&object.summary!=''}">
                                <span th:utext="${'<b>简介</b>&nbsp;'+object.summary}"></span>
                            </div>
                            <div th:if="${#strings.length(object.content)} le '100'">
                                <p th:utext="${object.content}"></p>
                            </div>
                            <!-- 辅助信息 -->
                            <div class="binfo">
                                <span th:utext="'已有'+${object.readAmount}+'人阅读'"></span>
                                <span class="atime"
                                      th:text="${#dates.format(object.updateTime,'yyyy/MM/dd HH:mm')}"></span>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="pagelist" id="selectPage" value=""></div>
            </div>
        </div>
        <div class="jzend"></div>
    </div>
    <div th:replace="common/footer.html :: footer"></div>
</div>
<script>
    window.onload = function () {
        // 当前页数
        var pageNum = parseInt($("#pageNum").val());
        // 总页数
        var pageNumSum = parseInt($("#pageNumSum").val());
        // 总条数
        var numSum = parseInt($("#numSum").val());
        // 分类ID
        var classifyId = $("#classifyId").val();
        // 栏目ID
        var columnId = $("#columnId").val();
        // 调用方法
        var method = '/index/article/' + classifyId + '/' + columnId + '?pageNum=';
        var pageHtml = '';
        // 数据存在才会显示分页
        if (numSum > 0) {
            pageHtml += '<a href="javascript:;">当前页[' + pageNum + ']</a>';
            // 当前页不是首页的时候才会显示
            if (pageNum !== 1) {
                pageHtml += '<a href="' + method + 1 + '">' + '首页' + '</a>';
                pageHtml += '<a href="' + method + (pageNum - 1) + '">上一页</a>';
            }
            // 显示5页
            for (var i = 0; i < (pageNumSum < 5 ? pageNumSum : 5); i++) {
                // 最大数页>=显示页数
                if (pageNumSum >= pageNum + i) {
                    pageHtml += '<a href="' + method + (pageNum + i) + '">' + (pageNum + i) + '</a>';
                }
            }
            // 当前页不是尾页的时候才会显示
            if (pageNum !== pageNumSum) {
                pageHtml += '<a href="' + method + (pageNum + 1) + '">下一页</a>';
                pageHtml += '<a href="' + method + pageNumSum + '">尾页</a>';
            }
            pageHtml += '<a href="javascript:;">总条数[' + numSum + ']</a>';
            $("#selectPage").html(pageHtml);
        } else {
            $("#selectPage").html('博主偷懒,只写标题,没有文章!');
        }
    }
</script>
</body>
</html>