<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="r_box f_r" th:fragment="home_right">
    <!-- 关于我 -->
    <div class="tit01">
        <h3 class="tit">关于我</h3>
        <div class="ab_con">
            <p>网名：BK | 艾瑞利亚</p>
            <p>职业：搬砖King</p>
            <p>现役：北京市―海淀区</p>
            <p>籍贯：河北省―张家口市</p>
            <p>邮箱：zjker@vip.qq.com</p>
            <p>oschina：<a href="https://my.oschina.net/Tsher2015">BK灬</a></p>
        </div>
    </div>
    <div class="tuwen">
        <h3 class="tit">网站累计浏览量</h3>
        <div id="dataNums"></div>
    </div>
    <!-- 友情连接 -->
    <div class="tuwen">
        <h3 class="tit">友情连接</h3>
        <div class="wrapper" style="margin-top: 20px;">
            <div class="tagcloud">
                <a th:each="link:${linkList}" th:href="@{${link.url}}" th:text="${link.name}" target="_blank"></a>
            </div>
        </div><!--wrapper-->
    </div>
    <!-- 摩天轮[兼容文章详情,因此多了许多../] -->
    <h3 class="tit">幸福摩天轮</h3>
    <div class="divImage">
        <img src="../../../images/fsw.png" class="rotation" alt="幸福摩天轮"
             onclick="swal('恭喜你,获取博主QQ:61489385', '', 'success');">
        <img src="../../../images/boy.png" style="height: 50px;width: 50px;" alt="男朋友"
             onclick="swal('希望你早日找到男朋友!', '', 'success');">
        <img src="../../../images/shamegirl.png" style="height: 50px;width: 50px;" alt="女朋友"
             onclick="swal('希望你早日找到女朋友!', '', 'success');">
    </div>
    <!-- 美图鉴赏 -->
    <!--<div class="tuwen">-->
    <!--<h3 class="tit">美图鉴赏</h3>-->
    <!--<div class="myscroll">-->
    <!--<ul>-->
    <!--<li th:each="photo:${photoList}">-->
    <!--<a th:href="@{'/image/showImage/'+${photo.name}}">-->
    <!--<img th:src="@{'/image/showImage/'+${photo.name}}" height="100" width="200">-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!-- 点击排行<阅读量> -->
    <div class="tuwen">
        <h3 class="tit">阅读排行</h3>
        <ul>
            <li th:each="readAmount:${readAmountList}">
                <a th:href="@{'/index/detail/article/'+${readAmount.id}}">
                     <span th:if="${readAmount.imageName!=null&&readAmount.imageName!=''}">
                            <i><img th:src="@{'/image/showImage/'+${readAmount.imageName}}" height="55" width="200"></i>
                     </span>
                    <span th:if="${readAmount.imageName==null||readAmount.imageName==''}">
                            <i><img src="/images/back/back4.jpg" height="55" width="200"></i>
                         </span>
                    <p th:utext="${readAmount.title}"></p>
                </a>
                <p>
                    <span class="tulanmu" th:text="${readAmount.columnName}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="tutime" th:text="${#dates.format(readAmount.updateTime,'yyyy/MM/dd')}"></span>
                </p>
            </li>
        </ul>
    </div>
    <!-- 博主推荐<点赞量> -->
    <div class="tuwen">
        <h3 class="tit">博主推荐</h3>
        <ul>
            <li th:each="likeAmount:${likeAmountList}">
                <a th:href="@{'/index/detail/article/'+${likeAmount.id}}">
                    <span th:if="${likeAmount.imageName!=null&&likeAmount.imageName!=''}">
                        <i><img th:src="@{'/image/showImage/'+${likeAmount.imageName}}" height="55" width="200"></i>
                    </span>
                    <span th:if="${likeAmount.imageName==null||likeAmount.imageName==''}">
                        <i><img src="/images/back/back4.jpg" height="55" width="200"></i>
                    </span>
                    <p th:utext="${likeAmount.title}"></p>
                </a>
                <p>
                    <span class="tulanmu" th:text="${likeAmount.columnName}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="tutime" th:text="${#dates.format(likeAmount.updateTime,'yyyy/MM/dd')}"></span>
                </p>
            </li>
        </ul>
    </div>
</div>
