<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>darker博客</title>
    <meta name="keywords" content="darker"/>
    <meta name="description" content="darker博客"/>
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/m.css" rel="stylesheet">
    <link href="/images/favicon-.ico" rel="shortcut icon" type="image/x-icon"/>
    <script type="text/javascript" src="/js/jquery.js"></script>
</head>
<body>
<div id="wrapper">
    <!-- 页头 -->
    <div th:include="common/header.html :: header"></div>
    <!-- 内容头CSS -->
    <div class="jztop"></div>
    <!-- container -->
    <div class="container">
        <!-- 左侧栏 -->
        <div th:include="index/index_left.html :: index_left"></div>
        <!-- 右侧栏 -->
        <div th:include="index/index_right.html :: index_right"></div>
    </div>
    <!-- 内容脚CSS -->
    <div class="jzend"></div>
    <!-- 页脚 -->
    <div th:include="common/footer :: footer"></div>
</div>
</body>
</html>
