<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="index_right">
    <div class="r_box f_r">
        <!-- 关于我 -->
        <div class="tit01">
            <h3 class="tit">关于我</h3>
            <div class="ab_con">
                <p>网名：darker | 艾瑞利亚</p>
                <p>职业：搬砖King</p>
                <p>现役：北京市―小农村</p>
                <p>籍贯：河北省―张家口市</p>
                <p>邮箱：zjker@vip.qq.com</p>
                <p>oschina：<a href="https://my.oschina.net/Tsher2015">AK灬</a></p>
            </div>
        </div>
        <!-- 友情连接 -->
        <div class="tuwen">
            <h3 class="tit">友情连接</h3>
            <ul>
                <li><a href="#"><b>百度</b></a></li>
                <li><a href="#"><b>百度</b></a></li>
                <li><a href="#"><b>百度</b></a></li>
                <li><a href="#"><b>百度</b></a></li>
                <li><a href="#"><b>百度</b></a></li>
            </ul>
        </div>
        <!-- 点击排行<阅读量> -->
        <div class="tuwen">
            <h3 class="tit">点击排行</h3>
            <ul>
                <li>
                    <a href="/"><i><img src="/images/01.jpg"></i><b>住在手机里的朋友</b></a>
                    <p><span class="tulanmu"><a href="/">所属相册</a></span><span class="tutime">2015-02-15</span></p>
                </li>
                <li><a href="/"><i><img src="/images/02.jpg"></i><b>教你怎样用欠费手机拨打电话</b></a>
                    <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
                </li>

                <li><a href="/"><i><img src="/images/06.jpg"></i><b>住在手机里的朋友</b></a>
                    <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
                </li>
                <li><a href="/"><i><img src="/images/04.jpg"></i><b>教你怎样用欠费手机拨打电话</b></a>
                    <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
                </li>
                <li><a href="/"><i><img src="/images/02.jpg"></i><b>教你怎样用欠费手机拨打电话</b></a>
                    <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
                </li>
            </ul>
        </div>
        <!-- 博主推荐<点赞量> -->
        <div class="tuwen">
            <h3 class="tit">博主推荐</h3>
            <ul>
                <li>
                    <a href="/"><i><img src="/images/01.jpg"></i><b>住在手机里的朋友</b></a>
                    <p><span class="tulanmu"><a href="/">所属相册</a></span><span class="tutime">2015-02-15</span></p>
                </li>
                <li><a href="/"><i><img src="/images/02.jpg"></i><b>教你怎样用欠费手机拨打电话</b></a>
                    <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
                </li>

                <li><a href="/"><i><img src="/images/06.jpg"></i><b>住在手机里的朋友</b></a>
                    <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
                </li>
                <li><a href="/"><i><img src="/images/04.jpg"></i><b>教你怎样用欠费手机拨打电话</b></a>
                    <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
                </li>
                <li><a href="/"><i><img src="/images/02.jpg"></i><b>教你怎样用欠费手机拨打电话</b></a>
                    <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
                </li>
            </ul>
        </div>
        <div class="ad"><img src="/images/03.jpg"></div>
    </div>
</div>