<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="index_left">
    <div class="bloglist f_l">
        <ul>
            <li th:each="object : ${list}">
                <!-- 标题 -->
                <h3 class="blogtitle">
                    <span th:text="${object.classify=='1'?'每周一记':'随笔记录'}"></span>
                    <a th:href="@{'/index/detail/article/'+${object.id}}" th:text="${object.title}"></a>
                </h3>
                <!-- 内容 -->
                <div class="bloginfo">
                    <!-- 文章首图 -->
                    <span class="blogpic">
                            <img src="/images/01.jpg" alt="帝国cms 首页或者列表无图，不使用默认图片的方法">
                        </span>
                    <span th:utext="${#strings.trim(object.content)}"></span>
                </div>
                <!-- 提示信息 -->
                <div class="autor">
                    <span class="lm f_l"></span>
                    <span class="dtime f_l" th:text="${#dates.format(object.updateTime,'yyyy/MM/dd HH:mm')}"></span>
                    <span class="viewnum f_l">浏览(<a th:text="${object.readAmount}"></a>)</span>
                    <span class="f_r"><a class="more" th:href="@{'/index/detail/article/'+${object.id}}">阅读原文&gt;&gt;</a></span>
                </div>
            </li>
        </ul>
    </div>
</div>