<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="index_right">
    <div class="r_box f_r">
        <!-- 关于我 -->
        <div class="tit01">
            <h3 class="tit">关于我</h3>
            <div class="ab_con">
                <p>网名：BK | 艾瑞利亚</p>
                <p>职业：搬砖King</p>
                <p>现役：北京市―小农村</p>
                <p>籍贯：河北省―张家口市</p>
                <p>邮箱：zjker@vip.qq.com</p>
                <p>oschina：<a href="https://my.oschina.net/Tsher2015">BK灬</a></p>
            </div>
        </div>
        <div class="tuwen">
            <h3 class="tit">累计访问人数</h3>
            <div id="dataNums"></div>
        </div>
        <!-- 摩天轮[兼容文章详情,因此多了许多../] -->
        <h3 class="tit">幸福摩天轮</h3>
        <div class="divImage">
            <img src="../../../images/fsw.png" class="rotation" alt="幸福摩天轮"
                 onclick="swal('希望你早日找到幸福!', '', 'success');">
            <img src="../../../images/boy.png" style="height: 50px;width: 50px;" alt="男朋友"
                 onclick="swal('希望你早日找到男朋友!', '', 'success');">
            <img src="../../../images/shamegirl.png" style="height: 50px;width: 50px;" alt="女朋友"
                 onclick="swal('希望你早日找到女朋友!', '', 'success');">
        </div>
        <!-- 友情连接 -->
        <div class="tuwen">
            <h3 class="tit">友情连接</h3>
            <div class="wrapper" style="margin-top: 20px;">
                <div class="tagcloud" >
                    <a th:each="link:${linkList}" th:href="@{${link.url}}" th:text="${link.name}" target="_blank"></a>
                </div>
            </div><!--wrapper-->
        </div>
        <!-- 点击排行<阅读量> -->
        <div class="tuwen">
            <h3 class="tit">阅读排行</h3>
            <ul>
                <li th:each="readAmount:${readAmountList}">
                    <a th:href="@{'/index/detail/article/'+${readAmount.id}}" >
                        <i><img src="/images/01.jpg"></i>
                        <b th:utext="${readAmount.title}"></b>
                    </a>
                    <p>
                        <span class="tulanmu">    <span th:text="${readAmount.classifyId=='1'?'生活点滴':'技术联盟'}"></span></span>
                        <span class="tutime" th:text="${#dates.format(readAmount.updateTime,'yyyy/MM/dd')}"></span>
                    </p>
                </li>
            </ul>
        </div>
        <!-- 博主推荐<点赞量> -->
        <div class="tuwen">
            <h3 class="tit">博主推荐</h3>
            <ul>
                <li th:each="likeAmount:${likeAmountList}">
                    <a th:href="@{'/index/detail/article/'+${likeAmount.id}}">
                        <i><img src="/images/02.jpg"></i>
                        <b th:text="${likeAmount.title}"></b>
                    </a>
                    <p>
                        <span class="tulanmu"><span th:text="${likeAmount.classifyId=='1'?'生活点滴':'技术联盟'}"></span></span>
                        <span class="tutime" th:text="${#dates.format(likeAmount.updateTime,'yyyy/MM/dd')}"></span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>