<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common/head.html :: head"></head>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/timeline.css">
<body>
<div id="wrapper">
    <div th:replace="common/header.html :: header"></div>
    <div class="jztop"></div>
    <!-- container -->
    <div class="container">
        <div class="con_content">
            <div class="about_box ">
                <div class="banner">
                    您现在的位置是：<a href="/index/home" target="_self">网站首页</a>>>留言板
                </div>
                <div class="showcase">
                    <div style="line-height: 40px; margin-top:40px;">
                        <ul class="timeline" id="addToMessage">
                            <li th:each="message:${messageList}">
                                <!-- 连线 -->
                                <div class="check">
                                    <b class="spring"></b>
                                    <s></s>
                                    <b class="linee"></b>
                                </div>
                                <!-- 图片 -->
                                <div class="thumb">
                                    <img src="/images/photo.jpg" alt="头像">
                                    <span th:text="${message.userName}"></span>
                                </div>
                                <!-- 留言 -->
                                <div class="content_message">
                                    <b></b>
                                    <p class="danceWord-s3" style="text-indent: 2em;font-size: 18px;"
                                       th:text="${message.content}"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="module-cmt-footer">
                    <span id="pageNum" th:text="${pageNum}" th:hidden="true"></span>
                    <!-- 翻页 -->
                    <div class="section-page-w">
                        <div node-type="cmt-more" class="cmt-more-wrap-gw" id="moreWatch" onclick="turnPage()">查看更多
                            <span class="more-arrow-ico" id="moreIcon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank"></div>
    </div>
    <div class="jzend"></div>
    <div th:replace="common/footer :: footer"></div>
</div>
<script>
    // 翻页操作
    function turnPage() {

        var pageNum = parseInt(document.getElementById("pageNum").innerText) + 1;

        $.ajax({
            //请求URL地址,controller的名称
            url: "/content/allMessage",
            //请求返回数据格式为json,还可以是text等
            dataType: "JSON",
            //请求是否为异步,默认是true
            async: true,
            //是否从浏览器缓存中加载数据信息
            cache: false,
            //设置请求超时时间
            timeout: 1000,
            //参数值,如果URL带参数,这里就可以不用写了
            data: {"pageNum": pageNum},
            //POST安全性高,数据量大;GET安全性低,数据量小,从浏览器获取数据
            type: "GET",
            //请求发出前的处理函数,参数(XMLHttpRequest对象,返回状态)
            beforeSend: function () {
            },
            //请求成功时的处理函数,参数(返回数据,返回状态)
            success: function (data) {
                // 追加留言数据
                addMessageToBoard(data);
                // 回写页数,方便下次翻页
                $("#pageNum").text(pageNum);
            },
            //请求完成时的处理函数,参数(XMLHttpRequest对象,返回状态)//无论成与败均调用
            complete: function () {
            },
            //请求出错时的处理函数,参数(XMLHttpRequest对象,返回状态,错误对象)
            error: function () {
            }
        });
    }

    // 追加留言操作
    function addMessageToBoard(data) {

        var appendHtml = '';

        var messageArray = eval("(" + data + ")");
        // 判断留言是否查询完毕
        if (messageArray.length === 0) {
            $("#moreWatch").text('别翻了,没有更多了!');
            $("#moreIcon").attr('display', 'none');
        } else {

            for (var i in messageArray) {

                var message = messageArray[i];

                appendHtml += '<li>';
                appendHtml += '<div class="check">';
                appendHtml += '<b class="spring"></b>';
                appendHtml += '<s></s>';
                appendHtml += '<b class="linee"></b>';
                appendHtml += '</div>';
                appendHtml += '<div class="thumb">';
                appendHtml += '<img src="/images/photo.jpg" alt="头像">';
                appendHtml += '<span>' + message.userName + '</span>';
                appendHtml += '</div>';
                appendHtml += '<div class="content_message">';
                appendHtml += '<b></b>';
                appendHtml += '<p class="danceWord-s3" style="text-indent: 2em;font-size: 18px;">' + message.content + '</p>';
                appendHtml += '</div>';
                appendHtml += '</li>';
            }
            //先保存div中原来的html
            var html = document.getElementById("addToMessage").innerHTML;
            console.info(html);
            //再跟你想追加的代码加到一起插入div中
            document.getElementById("addToMessage").innerHTML = html + appendHtml;
        }
    }
</script>
</body>
</html>