<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>BK个人博客-搬砖King的成长之路</title>
    <!-- 图标 -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon-.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/welcome.css"/>
    <link rel="stylesheet" type="text/css" href="/sweetalert/css/sweetalert2.min.css"/>
</head>
<body>
<div class="bg bg-box-1"></div>
<div class="bg bg-box-2"></div>
<div class="bg bg-box-3"></div>
<div class="bg bg-box-4"></div>
<div class="bg bg-box-5"></div>
<div class="bg bg-box-6"></div>
<div id="wrap">
    <ul>
        <li class="curr" onclick="javascript:window.location.href='index/home'">
            <div class="text">
                <p>第一章 破晓</p>
            </div>
        </li>
        <li onclick="swal({
                        title: '第二章 历练',
                        text: '未开启,尽情期待!',
                        type:'info',
                        timer: 2000
                    }).then(
                        function () {
                        },
                        function (dismiss) {
                            if (dismiss === 'timer') {
                                console.log('I was closed by the timer')
                            }
                        }
                    );">
            <div class="text">
                <p>第二章 历练</p>
            </div>
        </li>
        <li onclick="swal({
                        title: '第三章 征途',
                        text: '未开启,尽情期待!',
                        type:'info',
                        timer: 2000
                    }).then(
                        function () {
                        },
                        function (dismiss) {
                            if (dismiss === 'timer') {
                                console.log('I was closed by the timer')
                            }
                        }
                    );">
            <div class="text">
                <p>第三章 征途</p>
            </div>
        </li>
        <li onclick="swal({
                        title: '第四章 团队',
                        text: '未开启,尽情期待!',
                        type:'info',
                        timer: 2000
                    }).then(
                        function () {
                        },
                        function (dismiss) {
                            if (dismiss === 'timer') {
                                console.log('I was closed by the timer')
                            }
                        }
                    );">
            <div class="text">
                <p>第四章 团队</p>
            </div>
        </li>
        <li onclick="swal({
                        title: '第五章 觉醒',
                        text: '未开启,尽情期待!',
                        type:'info',
                        timer: 2000
                    }).then(
                        function () {
                        },
                        function (dismiss) {
                            if (dismiss === 'timer') {
                                console.log('I was closed by the timer')
                            }
                        }
                    );">
            <div class="text">
                <p>第五章 觉醒</p>
            </div>
        </li>
        <li onclick="swal({
                        title: '第六章 黎明',
                        text: '未开启,尽情期待!',
                        type:'info',
                        timer: 2000
                    }).then(
                        function () {
                        },
                        function (dismiss) {
                            if (dismiss === 'timer') {
                                console.log('I was closed by the timer')
                            }
                        }
                    );">
            <div class="text">
                <p>第六章 黎明</p>
            </div>
        </li>
    </ul>
</div>
<!-- 弹窗控件 -->
<script type="text/javascript" src="/sweetalert/js/sweetalert2.min.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script>
    (function () {
        $('#wrap li').mouseover(function () {
            if (!$(this).hasClass('curr')) {

                $('#wrap li').removeClass('curr');

                $(this).addClass('curr');

                // 切换背景
                $('#wrap li').each(function (index) {
                    if ($(this).hasClass('curr')) {
                        $('.bg').fadeOut(300);
                        $('.bg:eq(' + index + ')').fadeIn(500);
                    }
                });

                $('.curr').stop().animate({
                    // 停留图片尺寸
                    width: 750
                }, 500, 'linear');
                $('#wrap li').not('.curr').stop().animate({
                    // 标题尺寸
                    width: 100
                }, 500, 'linear');
            }
        });
    })();
</script>
</body>
</html>