<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body th:fragment="editor">
<!-- 富文本编辑器 -->
<div id="summaryUpdateEditor"></div>
<!-- 填写内容 -->
<textarea id="summaryUpdateContent" name="summary" style="width:100%; height:200px;display:none;"></textarea>
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script type="text/javascript">
    var E = window.wangEditor;
    var summaryUpdateEditor = new E('#summaryUpdateEditor');
    var $summaryUpdateContent = $('#summaryUpdateContent');
    summaryUpdateEditor.customConfig.onchange = function (html) {
        // 监控变化,同步更新到textarea
        $summaryUpdateContent.val(html)
    };
    summaryUpdateEditor.create();
    // 将富文本编辑器中的内容设置到textarea中
    $summaryUpdateContent.val(summaryUpdateEditor.txt.html());
</script>
</body>
</html>
