<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vip.darker.dao.DiaryDao">
    <resultMap id="BaseResultMap" type="com.vip.darker.model.DiaryModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="readAmount" property="readAmount" jdbcType="INTEGER"/>
        <result column="likeAmount" property="likeAmount" jdbcType="INTEGER"/>
        <result column="classify" property="classify" jdbcType="VARCHAR"/>
        <result column="isDelete" property="isDelete" jdbcType="INTEGER"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.vip.darker.model.DiaryModel" extends="BaseResultMap">
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, title, readAmount, likeAmount, classify, isDelete, creator, createTime, updateTime
  </sql>
    <sql id="Blob_Column_List">
    content
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from content_diary
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from content_diary
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.vip.darker.model.DiaryModel">
    insert into content_diary (id, title, readAmount, 
      likeAmount, classify, isDelete, 
      creator, createTime, updateTime, 
      content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{readAmount,jdbcType=INTEGER}, 
      #{likeAmount,jdbcType=INTEGER}, #{classify,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.vip.darker.model.DiaryModel">
        insert into content_diary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="readAmount != null">
                readAmount,
            </if>
            <if test="likeAmount != null">
                likeAmount,
            </if>
            <if test="classify != null">
                classify,
            </if>
            <if test="isDelete != null">
                isDelete,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="readAmount != null">
                #{readAmount,jdbcType=INTEGER},
            </if>
            <if test="likeAmount != null">
                #{likeAmount,jdbcType=INTEGER},
            </if>
            <if test="classify != null">
                #{classify,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.vip.darker.model.DiaryModel">
        update content_diary
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="readAmount != null">
                readAmount = #{readAmount,jdbcType=INTEGER},
            </if>
            <if test="likeAmount != null">
                likeAmount = #{likeAmount,jdbcType=INTEGER},
            </if>
            <if test="classify != null">
                classify = #{classify,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                isDelete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.vip.darker.model.DiaryModel">
    update content_diary
    set title = #{title,jdbcType=VARCHAR},
      readAmount = #{readAmount,jdbcType=INTEGER},
      likeAmount = #{likeAmount,jdbcType=INTEGER},
      classify = #{classify,jdbcType=VARCHAR},
      isDelete = #{isDelete,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.vip.darker.model.DiaryModel">
    update content_diary
    set title = #{title,jdbcType=VARCHAR},
      readAmount = #{readAmount,jdbcType=INTEGER},
      likeAmount = #{likeAmount,jdbcType=INTEGER},
      classify = #{classify,jdbcType=VARCHAR},
      isDelete = #{isDelete,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>