<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vip.darker.dao.VisitorDao">
    <resultMap id="BaseResultMap" type="com.vip.darker.model.Visitor">
        <id column="userId" property="userId" jdbcType="INTEGER"/>
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="record" property="record" jdbcType="VARCHAR"/>
        <result column="motto" property="motto" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        userId, userName, email, phone, record, motto
    </sql>
    <select id="selectAllVisitor" resultMap="com.vip.darker.model.Visitor">
        select
        <include refid="Base_Column_List"/>
        from blog_visitor
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from blog_visitor
        where userId = #{userId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from blog_visitor
        where userId = #{userId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.vip.darker.model.Visitor">
        insert into blog_visitor
        (userId, userName, email, phone, record, motto)
        values (#{userId,jdbcType=INTEGER},
                #{userName,jdbcType=VARCHAR},
                #{email,jdbcType=VARCHAR},
                #{phone,jdbcType=VARCHAR},
                #{record,jdbcType=VARCHAR},
                #{motto,jdbcType=VARCHAR}
                )
    </insert>
    <insert id="insertSelective" parameterType="com.vip.darker.model.Visitor">
        insert into blog_visitor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                userId,
            </if>
            <if test="userName != null">
                userName,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="record != null">
                record,
            </if>
            <if test="motto != null">
                motto,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="record != null">
                #{record,jdbcType=VARCHAR},
            </if>
            <if test="motto != null">
                #{motto,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.vip.darker.model.Visitor">
        update blog_visitor
        <set>
            <if test="userName != null">
                userName = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="record != null">
                record = #{record,jdbcType=VARCHAR},
            </if>
            <if test="motto != null">
                motto = #{motto,jdbcType=VARCHAR},
            </if>
        </set>
        where userId = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.vip.darker.model.Visitor">
        update blog_visitor
        set userName = #{userName,jdbcType=VARCHAR},
            email = #{email,jdbcType=VARCHAR},
            phone = #{phone,jdbcType=VARCHAR},
            record = #{record,jdbcType=VARCHAR},
            motto = #{motto,jdbcType=VARCHAR}
        where userId = #{userId,jdbcType=INTEGER}
  </update>
</mapper>