<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common/head.html :: head"></head>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/style.css">
<!-- 关于我 -->
<script type="text/javascript" src="/js/css3.js"></script>
<body>
<div id="wrapper">
    <!-- 头文件 -->
    <div th:replace="common/header.html :: header"></div>
    <!-- 内容头CSS -->
    <div class="jztop"></div>
    <!-- container -->
    <div class="container">
        <div class="con_content">
            <div class="about_box">
                <div class="banner">
                    您现在的位置是：<a href="/home" target="_self">网站首页</a>&nbsp;&gt;&gt;关于我
                </div>
                <!-- content -->
                <div class="scene">
                    <div class="box">
                        <ul class="ring"></ul>
                    </div>
                    <div class="item">
                        <p class="a_title">Introduce</p>
                        <p class="pf">2015年开始JavaEE修道之旅,喜欢搭建框架,优化代码结构,对分布式开发及缓存技术具有极强的兴趣,平时会写博客和学习新技术,不断挑战自我!</p>
                        <p class="a_title">座右铭</p>
                        <p class="pf">选择往往比努力更加重要!</p>
                        <p class="a_title">电影推荐</p>
                        <p class="pf">幸福来敲门</p>
                        <p class="a_title">电视剧推荐</p>
                        <p class="pf">越狱、权利的游戏</p>
                        <p class="a_title">开源中国</p>
                        <p class="pf">https://my.oschina.net/Tsher2015</p>
                    </div>
                </div>
                <!-- operation -->
                <div class="table" style="margin-top: 200px;">
                    <a href="javascript:" class="active">圆球</a>
                    <a href="javascript:">圆锥</a>
                    <a href="javascript:">柱状</a>
                    <a href="javascript:">柱状扭曲</a>
                </div>
                <hr style=" height:2px;border:none;border-top:2px dotted #DDDDDD;"/>
                <br>
                <div class="btn2" style="margin-left: 45%">
                    <button>3D还原技术</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 内容脚CSS -->
    <div class="jzend"></div>
    <!-- 页脚 -->
    <div th:replace="common/footer :: footer"></div>
</div>
</body>
</html>