<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common/head.html :: head"></head>
<link rel="stylesheet" href="/css/globle.css">
<link rel="stylesheet" href="/sweetalert/css/sweetalert2.min.css"/>
<link rel="stylesheet" href="/font-awesome/css/font-awesome.css"/>
<body>
<div id="wrapper">
    <!-- 内容头 -->
    <div th:replace="common/header.html :: header"></div>
    <!-- 分界线start -->
    <div class="jztop"></div>
    <!-- container -->
    <div class="container">
        <!-- 左侧栏 -->
        <div th:replace="home/home_left.html :: home_left"></div>
        <!-- 右侧栏 -->
        <div th:replace="home/home_right.html :: home_right"></div>
    </div>
    <!-- 分界线end -->
    <div class="jzend"></div>
    <!-- 页脚 -->
    <div th:replace="common/footer :: footer"></div>
</div>
<script>
    window.onload = function () {
        // 当前页数
        var pageNum = parseInt($("#pageNum").val());
        // 总页数
        var pageNumSum = parseInt($("#pageNumSum").val());
        // 总条数
        var numSum = parseInt($("#numSum").val());
        // 调用方法
        var method = '/home?pageNum=';
        var pageHtml = '';
        pageHtml += '<a href="javascript:;">当前页[' + pageNum + ']</a>';
        // 当前页不是首页的时候才会显示
        if (pageNum !== 1) {
            pageHtml += '<a href="' + method + 1 + '">' + '首页' + '</a>';
            pageHtml += '<a href="' + method + (pageNum - 1) + '">上一页</a>';
        }
        // 显示5页
        for (var i = 0; i < (pageNumSum < 5 ? pageNumSum : 5); i++) {
            // 最大数页>=显示页数
            if (pageNumSum >= pageNum + i) {
                pageHtml += '<a href="' + method + (pageNum + i) + '">' + (pageNum + i) + '</a>';
            }
        }
        // 当前页不是尾页的时候才会显示
        if (pageNum !== pageNumSum) {
            pageHtml += '<a href="' + method + (pageNum + 1) + '">下一页</a>';
            pageHtml += '<a href="' + method + pageNumSum + '">尾页</a>';
        }
        pageHtml += '<a href="javascript:;">总条数[' + numSum + ']</a>';

        $("#selectPage").html(pageHtml);
    }
</script>
</body>
</html>
